In [17]:
import pandas as pd
import numpy as np
import itertools
from io import StringIO
from datetime import datetime, timedelta

# Visualization libraries
import matplotlib.pyplot as plt
%matplotlib inline 
import plotly.express as px
import seaborn as sns
import matplotlib.patches as mpatches
from matplotlib.pylab import rcParams
import time

# Modeling libraries
import statsmodels.api as sm
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.arima.model import ARIMA        
from sklearn.metrics import mean_squared_error, r2_score
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.stattools import acf, pacf, adfuller
from sklearn.linear_model import LassoLarsCV
from sklearn.model_selection import TimeSeriesSplit 
from pmdarima import auto_arima      

from prophet import Prophet 

#Model deployment libraries
import joblib    


# Warnings
import warnings
from statsmodels.tools.sm_exceptions import ConvergenceWarning
warnings.simplefilter('ignore', ConvergenceWarning)
warnings.filterwarnings('ignore')

# Custom Options for displaying rows.
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns',100)
import pandas as pd
df = pd.read_json("data/NSW response - 2022-03-13.json")

In [18]:
df

,tsn,time,spots,zones,ParkID,occupancy,MessageDate,facility_id,facility_name,tfnsw_facility_id
0,211420,700405713,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:08:33,14,West Ryde Car Park,211420TPR001
1,211420,700406314,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:18:34,14,West Ryde Car Park,211420TPR001
2,211420,700406916,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:28:36,14,West Ryde Car Park,211420TPR001
3,211420,700407517,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:38:37,14,West Ryde Car Park,211420TPR001
4,211420,700408119,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:48:39,14,West Ryde Car Park,211420TPR001
5,211420,700408720,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:58:40,14,West Ryde Car Park,211420TPR001
6,211420,700409322,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T01:08:42,14,West Ryde Car Park,211420TPR001
7,211420,700409924,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T01:18:44,14,West Ryde Car Park,211420TPR001
8,211420,700410525,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T01:28:45,14,West Ryde Car Park,211420TPR001
9,211420,700411127,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T01:38:47,14,West Ryde Car Park,211420TPR001
10,211420,700411728,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T01:48:48,14,West Ryde Car Park,211420TPR001
11,211420,700412330,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T01:58:50,14,West Ryde Car Park,211420TPR001
12,211420,700412931,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T02:08:51,14,West Ryde Car Park,211420TPR001
13,211420,700413533,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T02:18:53,14,West Ryde Car Park,211420TPR001
14,211420,700414135,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T02:28:55,14,West Ryde Car Park,211420TPR001
15,211420,700414736,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T02:38:56,14,West Ryde Car Park,211420TPR001
16,211420,700415338,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T02:48:58,14,West Ryde Car Park,211420TPR001
17,211420,700415769,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28303', 'total': '1', 'monthlies': N...",2022-03-13T02:56:09,14,West Ryde Car Park,211420TPR001
18,211420,700416369,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28303', 'total': '1', 'monthlies': N...",2022-03-13T03:06:09,14,West Ryde Car Park,211420TPR001
19,211420,700416970,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28303', 'total': '1', 'monthlies': N...",2022-03-13T03:16:10,14,West Ryde Car Park,211420TPR001
20,211420,700417572,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28303', 'total': '1', 'monthlies': N...",2022-03-13T03:26:12,14,West Ryde Car Park,211420TPR001
21,211420,700418174,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28303', 'total': '1', 'monthlies': N...",2022-03-13T03:36:14,14,West Ryde Car Park,211420TPR001
22,211420,700418775,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28303', 'total': '1', 'monthlies': N...",2022-03-13T03:46:15,14,West Ryde Car Park,211420TPR001
23,211420,700419377,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28303', 'total': '1', 'monthlies': N...",2022-03-13T03:56:17,14,West Ryde Car Park,211420TPR001
24,211420,700419978,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28303', 'total': '1', 'monthlies': N...",2022-03-13T04:06:18,14,West Ryde Car Park,211420TPR001
25,211420,700420580,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28303', 'total': '1', 'monthlies': N...",2022-03-13T04:16:20,14,West Ryde Car Park,211420TPR001
26,211420,700421181,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28303', 'total': '1', 'monthlies': N...",2022-03-13T04:26:21,14,West Ryde Car Park,211420TPR001
27,211420,700421783,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28303', 'total': '1', 'monthlies': N...",2022-03-13T04:36:23,14,West Ryde Car Park,211420TPR001
28,211420,700422385,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28303', 'total': '1', 'monthlies': N...",2022-03-13T04:46:25,14,West Ryde Car Park,211420TPR001
29,211420,700422824,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28304', 'total': '2', 'monthlies': N...",2022-03-13T04:53:44,14,West Ryde Car Park,211420TPR001
30,211420,700423425,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28304', 'total': '2', 'monthlies': N...",2022-03-13T05:03:45,14,West Ryde Car Park,211420TPR001
31,211420,700424026,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28304', 'total': '2', 'monthlies': N...",2022-03-13T05:13:46,14,West Ryde Car Park,211420TPR001
32,211420,700424628,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28304', 'total': '2', 'monthlies': N...",2022-03-13T05:23:48,14,West Ryde Car Park,211420TPR001
33,211420,700425229,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28304', 'total': '2', 'monthlies': N...",2022-03-13T05:33:49,14,West Ryde Car Park,211420TPR001
34,211420,700425786,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28305', 'total': '3', 'monthlies': N...",2022-03-13T05:43:06,14,West Ryde Car Park,211420TPR001
35,211420,700426189,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28306', 'total': '4', 'monthlies': N...",2022-03-13T05:49:49,14,West Ryde Car Park,211420TPR001
36,211420,700426292,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28307', 'total': '5', 'monthlies': N...",2022-03-13T05:51:32,14,West Ryde Car Park,211420TPR001
37,211420,700426429,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28308', 'total': '6', 'monthlies': N...",2022-03-13T05:53:49,14,West Ryde Car Park,211420TPR001
38,211420,700426949,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28309', 'total': '7', 'monthlies': N...",2022-03-13T06:02:29,14,West Ryde Car Park,211420TPR001
39,211420,700426955,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28310', 'total': '8', 'monthlies': N...",2022-03-13T06:02:35,14,West Ryde Car Park,211420TPR001
40,211420,700426979,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28311', 'total': '7', 'monthlies': N...",2022-03-13T06:02:59,14,West Ryde Car Park,211420TPR001
41,211420,700427579,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28311', 'total': '7', 'monthlies': N...",2022-03-13T06:12:59,14,West Ryde Car Park,211420TPR001
42,211420,700428180,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28311', 'total': '7', 'monthlies': N...",2022-03-13T06:23:00,14,West Ryde Car Park,211420TPR001
43,211420,700428782,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28311', 'total': '7', 'monthlies': N...",2022-03-13T06:33:02,14,West Ryde Car Park,211420TPR001
44,211420,700429383,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28311', 'total': '7', 'monthlies': N...",2022-03-13T06:43:03,14,West Ryde Car Park,211420TPR001
45,211420,700429985,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28311', 'total': '7', 'monthlies': N...",2022-03-13T06:53:05,14,West Ryde Car Park,211420TPR001
46,211420,700430587,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28311', 'total': '7', 'monthlies': N...",2022-03-13T07:03:07,14,West Ryde Car Park,211420TPR001
47,211420,700431188,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28311', 'total': '7', 'monthlies': N...",2022-03-13T07:13:08,14,West Ryde Car Park,211420TPR001
48,211420,700431790,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28311', 'total': '7', 'monthlies': N...",2022-03-13T07:23:10,14,West Ryde Car Park,211420TPR001
49,211420,700432391,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28311', 'total': '7', 'monthlies': N...",2022-03-13T07:33:11,14,West Ryde Car Park,211420TPR001
50,211420,700432993,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28311', 'total': '7', 'monthlies': N...",2022-03-13T07:43:13,14,West Ryde Car Park,211420TPR001
51,211420,700433594,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28311', 'total': '7', 'monthlies': N...",2022-03-13T07:53:14,14,West Ryde Car Park,211420TPR001
52,211420,700434196,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28311', 'total': '7', 'monthlies': N...",2022-03-13T08:03:16,14,West Ryde Car Park,211420TPR001
53,211420,700434798,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28311', 'total': '7', 'monthlies': N...",2022-03-13T08:13:18,14,West Ryde Car Park,211420TPR001
54,211420,700435270,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28313', 'total': '5', 'monthlies': N...",2022-03-13T08:21:10,14,West Ryde Car Park,211420TPR001
55,211420,700435280,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28314', 'total': '4', 'monthlies': N...",2022-03-13T08:21:20,14,West Ryde Car Park,211420TPR001
56,211420,700435299,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28315', 'total': '3', 'monthlies': N...",2022-03-13T08:21:39,14,West Ryde Car Park,211420TPR001
57,211420,700435312,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28316', 'total': '2', 'monthlies': N...",2022-03-13T08:21:52,14,West Ryde Car Park,211420TPR001
58,211420,700435912,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28316', 'total': '2', 'monthlies': N...",2022-03-13T08:31:52,14,West Ryde Car Park,211420TPR001
59,211420,700436299,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28317', 'total': '1', 'monthlies': N...",2022-03-13T08:38:19,14,West Ryde Car Park,211420TPR001
60,211420,700436634,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28318', 'total': '2', 'monthlies': N...",2022-03-13T08:43:54,14,West Ryde Car Park,211420TPR001
61,211420,700436800,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28319', 'total': '3', 'monthlies': N...",2022-03-13T08:46:40,14,West Ryde Car Park,211420TPR001
62,211420,700437264,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28320', 'total': '4', 'monthlies': N...",2022-03-13T08:54:24,14,West Ryde Car Park,211420TPR001
63,211420,700437327,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28321', 'total': '5', 'monthlies': N...",2022-03-13T08:55:27,14,West Ryde Car Park,211420TPR001
64,211420,700437703,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28322', 'total': '6', 'monthlies': N...",2022-03-13T09:01:43,14,West Ryde Car Park,211420TPR001
65,211420,700437710,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28323', 'total': '7', 'monthlies': N...",2022-03-13T09:01:50,14,West Ryde Car Park,211420TPR001
66,211420,700438310,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28323', 'total': '7', 'monthlies': N...",2022-03-13T09:11:50,14,West Ryde Car Park,211420TPR001
67,211420,700438911,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28323', 'total': '7', 'monthlies': N...",2022-03-13T09:21:51,14,West Ryde Car Park,211420TPR001
68,211420,700439513,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28323', 'total': '7', 'monthlies': N...",2022-03-13T09:31:53,14,West Ryde Car Park,211420TPR001
69,211420,700440115,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28323', 'total': '7', 'monthlies': N...",2022-03-13T09:41:55,14,West Ryde Car Park,211420TPR001
70,211420,700440716,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28323', 'total': '7', 'monthlies': N...",2022-03-13T09:51:56,14,West Ryde Car Park,211420TPR001
71,211420,700440964,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28324', 'total': '8', 'monthlies': N...",2022-03-13T09:56:04,14,West Ryde Car Park,211420TPR001
72,211420,700441564,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28324', 'total': '8', 'monthlies': N...",2022-03-13T10:06:04,14,West Ryde Car Park,211420TPR001
73,211420,700441619,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28325', 'total': '9', 'monthlies': N...",2022-03-13T10:06:59,14,West Ryde Car Park,211420TPR001
74,211420,700441655,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28326', 'total': '10', 'monthlies': ...",2022-03-13T10:07:35,14,West Ryde Car Park,211420TPR001
75,211420,700441749,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28327', 'total': '9', 'monthlies': N...",2022-03-13T10:09:09,14,West Ryde Car Park,211420TPR001
76,211420,700442094,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28328', 'total': '8', 'monthlies': N...",2022-03-13T10:14:54,14,West Ryde Car Park,211420TPR001
77,211420,700442244,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28329', 'total': '9', 'monthlies': N...",2022-03-13T10:17:24,14,West Ryde Car Park,211420TPR001
78,211420,700442844,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28329', 'total': '9', 'monthlies': N...",2022-03-13T10:27:24,14,West Ryde Car Park,211420TPR001
79,211420,700442937,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28330', 'total': '10', 'monthlies': ...",2022-03-13T10:28:57,14,West Ryde Car Park,211420TPR001
80,211420,700443232,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28331', 'total': '11', 'monthlies': ...",2022-03-13T10:33:52,14,West Ryde Car Park,211420TPR001
81,211420,700443256,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28332', 'total': '10', 'monthlies': ...",2022-03-13T10:34:16,14,West Ryde Car Park,211420TPR001
82,211420,700443566,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28333', 'total': '11', 'monthlies': ...",2022-03-13T10:39:26,14,West Ryde Car Park,211420TPR001
83,211420,700444167,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28333', 'total': '11', 'monthlies': ...",2022-03-13T10:49:27,14,West Ryde Car Park,211420TPR001
84,211420,700444214,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28334', 'total': '12', 'monthlies': ...",2022-03-13T10:50:14,14,West Ryde Car Park,211420TPR001
85,211420,700444350,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28335', 'total': '13', 'monthlies': ...",2022-03-13T10:52:30,14,West Ryde Car Park,211420TPR001
86,211420,700444950,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28335', 'total': '13', 'monthlies': ...",2022-03-13T11:02:30,14,West Ryde Car Park,211420TPR001
87,211420,700445552,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28335', 'total': '13', 'monthlies': ...",2022-03-13T11:12:32,14,West Ryde Car Park,211420TPR001
88,211420,700446153,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28335', 'total': '13', 'monthlies': ...",2022-03-13T11:22:33,14,West Ryde Car Park,211420TPR001
89,211420,700446755,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28335', 'total': '13', 'monthlies': ...",2022-03-13T11:32:35,14,West Ryde Car Park,211420TPR001
90,211420,700446844,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28336', 'total': '14', 'monthlies': ...",2022-03-13T11:34:04,14,West Ryde Car Park,211420TPR001
91,211420,700447339,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28337', 'total': '13', 'monthlies': ...",2022-03-13T11:42:19,14,West Ryde Car Park,211420TPR001
92,211420,700447417,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28338', 'total': '14', 'monthlies': ...",2022-03-13T11:43:37,14,West Ryde Car Park,211420TPR001
93,211420,700447445,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28339', 'total': '13', 'monthlies': ...",2022-03-13T11:44:05,14,West Ryde Car Park,211420TPR001
94,211420,700447895,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28340', 'total': '14', 'monthlies': ...",2022-03-13T11:51:35,14,West Ryde Car Park,211420TPR001
95,211420,700448294,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28341', 'total': '13', 'monthlies': ...",2022-03-13T11:58:14,14,West Ryde Car Park,211420TPR001
96,211420,700448894,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28341', 'total': '13', 'monthlies': ...",2022-03-13T12:08:14,14,West Ryde Car Park,211420TPR001
97,211420,700449496,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28341', 'total': '13', 'monthlies': ...",2022-03-13T12:18:16,14,West Ryde Car Park,211420TPR001
98,211420,700450097,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28341', 'total': '13', 'monthlies': ...",2022-03-13T12:28:17,14,West Ryde Car Park,211420TPR001
99,211420,700450699,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28341', 'total': '13', 'monthlies': ...",2022-03-13T12:38:19,14,West Ryde Car Park,211420TPR001
100,211420,700450751,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28342', 'total': '14', 'monthlies': ...",2022-03-13T12:39:11,14,West Ryde Car Park,211420TPR001
101,211420,700450758,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28343', 'total': '15', 'monthlies': ...",2022-03-13T12:39:18,14,West Ryde Car Park,211420TPR001
102,211420,700451049,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28344', 'total': '14', 'monthlies': ...",2022-03-13T12:44:09,14,West Ryde Car Park,211420TPR001
103,211420,700451649,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28344', 'total': '14', 'monthlies': ...",2022-03-13T12:54:09,14,West Ryde Car Park,211420TPR001
104,211420,700451742,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28345', 'total': '13', 'monthlies': ...",2022-03-13T12:55:42,14,West Ryde Car Park,211420TPR001
105,211420,700452112,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28346', 'total': '12', 'monthlies': ...",2022-03-13T13:01:52,14,West Ryde Car Park,211420TPR001
106,211420,700452348,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28347', 'total': '11', 'monthlies': ...",2022-03-13T13:05:48,14,West Ryde Car Park,211420TPR001

The values in the time column are given in seconds since year 2000. Converting it to more meaningful data that can be interpreted:

In [19]:
def convert_seconds_to_datetime(seconds_since_2000):
    ref_date = datetime(2000, 1, 1)
    
    datetime_val = ref_date + timedelta(seconds=seconds_since_2000)
    
    date = datetime_val.date()
    time = datetime_val.time()
    return date,time

In [20]:
df_copy = df.copy()

df_copy[['date','time']] = df['time'].apply(convert_seconds_to_datetime).apply(pd.Series)
df_copy.head()

,tsn,time,spots,zones,ParkID,occupancy,MessageDate,facility_id,facility_name,tfnsw_facility_id,date
0,211420,13:08:33,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:08:33,14,West Ryde Car Park,211420TPR001,2022-03-12
1,211420,13:18:34,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:18:34,14,West Ryde Car Park,211420TPR001,2022-03-12
2,211420,13:28:36,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:28:36,14,West Ryde Car Park,211420TPR001,2022-03-12
3,211420,13:38:37,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:38:37,14,West Ryde Car Park,211420TPR001,2022-03-12
4,211420,13:48:39,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:48:39,14,West Ryde Car Park,211420TPR001,2022-03-12

Creating column with day of the week

In [21]:
df_copy['day_of_week'] = pd.to_datetime(df_copy['date']).apply(lambda x: x.strftime('%A'))
df_copy.head()

,tsn,time,spots,zones,ParkID,occupancy,MessageDate,facility_id,facility_name,tfnsw_facility_id,date,day_of_week
0,211420,13:08:33,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:08:33,14,West Ryde Car Park,211420TPR001,2022-03-12,Saturday
1,211420,13:18:34,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:18:34,14,West Ryde Car Park,211420TPR001,2022-03-12,Saturday
2,211420,13:28:36,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:28:36,14,West Ryde Car Park,211420TPR001,2022-03-12,Saturday
3,211420,13:38:37,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:38:37,14,West Ryde Car Park,211420TPR001,2022-03-12,Saturday
4,211420,13:48:39,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:48:39,14,West Ryde Car Park,211420TPR001,2022-03-12,Saturday

Reordering columns:

In [22]:
df_copy = df_copy[['tsn','day_of_week','date','time','spots','zones','ParkID','occupancy','MessageDate','facility_id','facility_name','tfnsw_facility_id']]
df_copy.head()

,tsn,day_of_week,date,time,spots,zones,ParkID,occupancy,MessageDate,facility_id,facility_name,tfnsw_facility_id
0,211420,Saturday,2022-03-12,13:08:33,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:08:33,14,West Ryde Car Park,211420TPR001
1,211420,Saturday,2022-03-12,13:18:34,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:18:34,14,West Ryde Car Park,211420TPR001
2,211420,Saturday,2022-03-12,13:28:36,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:28:36,14,West Ryde Car Park,211420TPR001
3,211420,Saturday,2022-03-12,13:38:37,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:38:37,14,West Ryde Car Park,211420TPR001
4,211420,Saturday,2022-03-12,13:48:39,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '28302', 'total': '2', 'monthlies': N...",2022-03-13T00:48:39,14,West Ryde Car Park,211420TPR001

Converting the zones column to its own dataframe:

In [23]:

sample = pd.DataFrame(columns=['spots','zone_id','zone_name','parent_zone_id','occupancy'])

for key,value in df['zones'].items():
    val = pd.json_normalize(value)
    sample = sample.append(val)

sample.head()

AttributeError: 'DataFrame' object has no attribute 'append'