In [9]:
import requests
import json
import pandas as pd
import numpy as np

from datetime import datetime,timedelta

In [10]:
import dotenv
import os

# Load secret file
dotenv.load_dotenv('.env')

headers = {
  "Authorization":f"apikey {os.environ.get('apikey')}"
}
url_carparks = 'https://api.transport.nsw.gov.au/v1/carpark'
# url_carpark_history = 'https://api.transport.nsw.gov.au/v1/carpark/history'

list_of_carparks = requests.get(url_carparks, headers=headers).json()

# Create a json file and write the data if it doesn't exist
if not os.path.exists('./data/carparks.json'):
  with open('./data/carparks.json', 'w') as f:
    json.dumps(list_of_carparks, f)

# The format of the file itself is a dictionary, thus requiring some creativity to read
with open('./data/carparks.json') as f:
  data = json.load(f)

# Convert the dictionary to a dataframe
df_carparks = pd.DataFrame.from_dict(data, orient='index')
# Resetting the index to label the columns afterwards
df_carparks = df_carparks.reset_index()
df_carparks.columns = ['facility_id', 'CarParkName']

df_carparks

carpark_details_array=[]
for index, row in df_carparks.iterrows():
  facility = row['facility_id']
  url = f'https://api.transport.nsw.gov.au/v1/carpark?facility={facility}'


  # Make request
  response = requests.get(url, headers=headers).json()

  # Add to array
  carpark_details_array.append(response)

carpark_details_array

[{'tsn': '2155384',
  'time': '742877319',
  'spots': '1004',
  'zones': [{'spots': '152',
    'zone_id': 'CPS-CUD1',
    'occupancy': {'loop': None,
     'total': '150',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Tallawong Station At-Grade A Car Park',
    'parent_zone_id': '0'},
   {'spots': '455',
    'zone_id': 'CPS-CUD2',
    'occupancy': {'loop': None,
     'total': '455',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Tallawong Station At-Grade B Car Park',
    'parent_zone_id': '0'},
   {'spots': '397',
    'zone_id': 'CPS-CUD3',
    'occupancy': {'loop': None,
     'total': '376',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Tallawong Station At-Grade D Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '981',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2023-07-17T12:48:39',
  'facility_id': '1',
  'facility_name': 'Tallawong Station Car Park',
  'tfnsw_facility_id': '2155384CCP001'},
 {'tsn': '2101131',
  'time': '760455665',
  'spots': '244',
  'zones': [{'spots': '244',
    'zone_id': '1',
    'occupancy': {'loop': None,
     'total': '17',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Warriewood Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '17',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T00:41:05',
  'facility_id': '10',
  'facility_name': 'Warriewood Car Park',
  'tfnsw_facility_id': '2101131TPR001'},
 {'tsn': '2101130',
  'time': '760467741',
  'spots': '46',
  'zones': [{'spots': '46',
    'zone_id': '1',
    'occupancy': {'loop': '63855',
     'total': '2',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD312 Narrabeen Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '63855',
   'total': '2',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:02:21',
  'facility_id': '11',
  'facility_name': 'Narrabeen Car Park',
  'tfnsw_facility_id': '2101130TPR001'},
 {'tsn': '2103108',
  'time': '760467287',
  'spots': '68',
  'zones': [{'spots': '68',
    'zone_id': '1',
    'occupancy': {'loop': None,
     'total': '2',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Mona Vale Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '2',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T03:54:47',
  'facility_id': '12',
  'facility_name': 'Mona Vale Car Park',
  'tfnsw_facility_id': '2103108TPR001'},
 {'tsn': '2099207',
  'time': '760467785',
  'spots': '117',
  'zones': [{'spots': '117',
    'zone_id': '1',
    'occupancy': {'loop': '53297',
     'total': '28',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD309 Dee Why Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '53297',
   'total': '28',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:03:05',
  'facility_id': '13',
  'facility_name': 'Dee Why Car Park',
  'tfnsw_facility_id': '2099207TPR001'},
 {'tsn': '211420',
  'time': '760468097',
  'spots': '151',
  'zones': [{'spots': '151',
    'zone_id': '1',
    'occupancy': {'loop': '228066',
     'total': '1',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD372 West Ryde Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '228066',
   'total': '1',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:08:17',
  'facility_id': '14',
  'facility_name': 'West Ryde Car Park',
  'tfnsw_facility_id': '211420TPR001'},
 {'tsn': '223210',
  'time': '760467948',
  'spots': '373',
  'zones': [{'spots': '373',
    'zone_id': '1',
    'occupancy': {'loop': None,
     'total': '18',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Sutherland East Parade Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '18',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:05:48',
  'facility_id': '15',
  'facility_name': 'Sutherland East Parade Car Park',
  'tfnsw_facility_id': '223210TPR001'},
 {'tsn': '217933',
  'time': '760468094',
  'spots': '1884',
  'zones': [{'spots': '1884',
    'zone_id': '1',
    'occupancy': {'loop': '809498',
     'total': '177',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD373 Leppington Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '809498',
   'total': '177',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:08:14',
  'facility_id': '16',
  'facility_name': 'Leppington Car Park',
  'tfnsw_facility_id': '217933TPR001'},
 {'tsn': '217426',
  'time': '760467619',
  'spots': '1429',
  'zones': [{'spots': '1429',
    'zone_id': '1',
    'occupancy': {'loop': '741151',
     'total': '6',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD375 Edmondson Park Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '741151',
   'total': '6',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:00:19',
  'facility_id': '17',
  'facility_name': 'Edmondson Park South Car Park',
  'tfnsw_facility_id': '217426TPR001'},
 {'tsn': '276010',
  'time': '760467979',
  'spots': '682',
  'zones': [{'spots': '682',
    'zone_id': '1',
    'occupancy': {'loop': None,
     'total': '47',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'St Marys Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '47',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:06:19',
  'facility_id': '18',
  'facility_name': 'St Marys Car Park',
  'tfnsw_facility_id': '276010TPR001'},
 {'tsn': '256020',
  'time': '760467853',
  'spots': '68',
  'zones': [{'spots': '68',
    'zone_id': '1',
    'occupancy': {'loop': '147457',
     'total': '28',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD368D FRN Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '147457',
   'total': '28',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:04:13',
  'facility_id': '19',
  'facility_name': 'Campbelltown Farrow Rd North Car Park',
  'tfnsw_facility_id': '256020TPR001'},
 {'tsn': '2155382',
  'time': '742877319',
  'spots': '1374',
  'zones': [{'spots': '368',
    'zone_id': 'CPS-KVE1',
    'occupancy': {'loop': None,
     'total': '357',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Kellyville Station Northern At-Grade Car Park',
    'parent_zone_id': '0'},
   {'spots': '1006',
    'zone_id': 'CPS-KVE2',
    'occupancy': {'loop': None,
     'total': '1006',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Kellyville Station Southern Multi-Level Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '1363',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2023-07-17T12:48:39',
  'facility_id': '2',
  'facility_name': 'Kellyville Station Car Park',
  'tfnsw_facility_id': '2155382CCP001'},
 {'tsn': '256020',
  'time': '760467944',
  'spots': '118',
  'zones': [{'spots': '118',
    'zone_id': '1',
    'occupancy': {'loop': '177719',
     'total': '14',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD368C HSS Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '177719',
   'total': '14',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:05:44',
  'facility_id': '20',
  'facility_name': 'Campbelltown Hurley Street South Car Park',
  'tfnsw_facility_id': '25602TPR002'},
 {'tsn': '275010',
  'time': '760467613',
  'spots': '230',
  'zones': [{'spots': '230',
    'zone_id': '1',
    'occupancy': {'loop': '74298',
     'total': '1',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD369A Penrith AG Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '74298',
   'total': '1',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T03:00:13',
  'facility_id': '21',
  'facility_name': 'Penrith Combewood At-Grade Car Park',
  'tfnsw_facility_id': '275010TPR001'},
 {'tsn': '275010',
  'time': '760468005',
  'spots': '1144',
  'zones': [{'spots': '1144',
    'zone_id': '1',
    'occupancy': {'loop': '521112',
     'total': '29',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD369B Penrith MSC Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '521112',
   'total': '29',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T03:06:45',
  'facility_id': '22',
  'facility_name': 'Penrith Combewood Multi-Level Car Park',
  'tfnsw_facility_id': '275010TPR002'},
 {'tsn': '217010',
  'time': '760468151',
  'spots': '910',
  'zones': [{'spots': '910',
    'zone_id': '1',
    'occupancy': {'loop': None,
     'total': '56',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Warwick Farm Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '56',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:09:11',
  'facility_id': '23',
  'facility_name': 'Warwick Farm Car Park',
  'tfnsw_facility_id': '217010TPR001'},
 {'tsn': '276220',
  'time': '760468001',
  'spots': '700',
  'zones': [{'spots': '700',
    'zone_id': '1',
    'occupancy': {'loop': '476626',
     'total': '1',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD383 Schofields Commuter Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '476626',
   'total': '1',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:06:41',
  'facility_id': '24',
  'facility_name': 'Schofields Car Park',
  'tfnsw_facility_id': '276220TPR001'},
 {'tsn': '207720',
  'time': '760468004',
  'spots': '145',
  'zones': [{'spots': '145',
    'zone_id': '1',
    'occupancy': {'loop': '104616',
     'total': '6',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD386 Hornsby Commuter Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '104616',
   'total': '6',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:06:44',
  'facility_id': '25',
  'facility_name': 'Hornsby Jersey St Car Park',
  'tfnsw_facility_id': '207720TPR001'},
 {'tsn': '2155384',
  'time': '760467860',
  'spots': '121',
  'zones': [{'spots': '121',
    'zone_id': '1',
    'occupancy': {'loop': '90506',
     'total': '11',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD396A Tallawong P1 Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '90506',
   'total': '11',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:04:20',
  'facility_id': '26',
  'facility_name': 'Tallawong P1 Car Park',
  'tfnsw_facility_id': '2155384TPR001'},
 {'tsn': '2155384',
  'time': '760467594',
  'spots': '455',
  'zones': [{'spots': '455',
    'zone_id': '1',
    'occupancy': {'loop': '172649',
     'total': '1',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD396B Tallawong P2 Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '172649',
   'total': '1',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T03:59:54',
  'facility_id': '27',
  'facility_name': 'Tallawong P2 Car Park',
  'tfnsw_facility_id': '2155384TPR002'},
 {'tsn': '2155384',
  'time': '760467679',
  'spots': '397',
  'zones': [{'spots': '397',
    'zone_id': '1',
    'occupancy': {'loop': '102161',
     'total': '46',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD396C Tallawong P3 Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '102161',
   'total': '46',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:01:19',
  'facility_id': '28',
  'facility_name': 'Tallawong P3 Car Park',
  'tfnsw_facility_id': '2155384TPR003'},
 {'tsn': '2155382',
  'time': '760467735',
  'spots': '351',
  'zones': [{'spots': '351',
    'zone_id': '1',
    'occupancy': {'loop': '76578',
     'total': '0',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD395A Kellyville North Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '76578',
   'total': '0',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:02:15',
  'facility_id': '29',
  'facility_name': 'Kellyville North Car Park',
  'tfnsw_facility_id': '2155382TPR001'},
 {'tsn': '2153478',
  'time': '742877319',
  'spots': '800',
  'zones': [{'spots': '800',
    'zone_id': 'CPS-BLV',
    'occupancy': {'loop': None,
     'total': '314',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Bella Vista Station Multi-Level Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '314',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2023-07-17T12:48:39',
  'facility_id': '3',
  'facility_name': 'Bella Vista Station Car Park',
  'tfnsw_facility_id': '2153478CCP001'},
 {'tsn': '2155382',
  'time': '760467809',
  'spots': '964',
  'zones': [{'spots': '964',
    'zone_id': '1',
    'occupancy': {'loop': '288491',
     'total': '12',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD395B Kellyville South Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '288491',
   'total': '12',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:03:29',
  'facility_id': '30',
  'facility_name': 'Kellyville South Car Park',
  'tfnsw_facility_id': '2155382TPR002'},
 {'tsn': '2153478',
  'time': '760467741',
  'spots': '777',
  'zones': [{'spots': '777',
    'zone_id': '1',
    'occupancy': {'loop': '243832',
     'total': '4',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD392 Bella Vista Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '243832',
   'total': '4',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:02:21',
  'facility_id': '31',
  'facility_name': 'Bella Vista Car Park',
  'tfnsw_facility_id': '2153478TPR001'},
 {'tsn': '2154392',
  'time': '760467972',
  'spots': '584',
  'zones': [{'spots': '584',
    'zone_id': '1',
    'occupancy': {'loop': '202688',
     'total': '5',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD394 Hills Showground Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '202688',
   'total': '5',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:06:12',
  'facility_id': '32',
  'facility_name': 'Hills Showground Car Park',
  'tfnsw_facility_id': '2154392TPR001'},
 {'tsn': '2126158',
  'time': '760467940',
  'spots': '384',
  'zones': [{'spots': '384',
    'zone_id': '1',
    'occupancy': {'loop': '140763',
     'total': '1',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD393 Cherrybrook Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '140763',
   'total': '1',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T04:05:40',
  'facility_id': '33',
  'facility_name': 'Cherrybrook Car Park',
  'tfnsw_facility_id': '2126158TPR001'},
 {'tsn': '2154392',
  'time': '742877319',
  'spots': '600',
  'zones': [{'spots': '600',
    'zone_id': 'CPS-SHW',
    'occupancy': {'loop': None,
     'total': '532',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Hills Showground Station Multi-Level Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '532',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2023-07-17T12:48:39',
  'facility_id': '4',
  'facility_name': 'Hills Showground Station Car Park',
  'tfnsw_facility_id': '2154392CCP001'},
 {'tsn': '213110',
  'time': '760507222',
  'spots': '228',
  'zones': [{'spots': '228',
    'zone_id': '1',
    'occupancy': {'loop': '309676',
     'total': None,
     'monthlies': '0',
     'open_gate': None,
     'transients': '0'},
    'zone_name': 'AshfieldCarPark',
    'parent_zone_id': '0'}],
  'ParkID': 1,
  'occupancy': {'loop': None,
   'total': '0',
   'monthlies': '0',
   'open_gate': '0',
   'transients': '0'},
  'MessageDate': '2024-02-06T04:00:22',
  'facility_id': '486',
  'facility_name': 'Ashfield Car Park',
  'tfnsw_facility_id': '213110TPR001'},
 {'tsn': '221710',
  'time': '760507359',
  'spots': '259',
  'zones': [{'spots': '259',
    'zone_id': '2',
    'occupancy': {'loop': '186',
     'total': None,
     'monthlies': '0',
     'open_gate': None,
     'transients': '1'},
    'zone_name': 'SYD319 Kogarah Park and Ride',
    'parent_zone_id': '0'},
   {'spots': '0',
    'zone_id': '0',
    'occupancy': {'loop': '0',
     'total': None,
     'monthlies': '0',
     'open_gate': None,
     'transients': '0'},
    'zone_name': '',
    'parent_zone_id': '0'},
   {'spots': '0',
    'zone_id': '0',
    'occupancy': {'loop': '0',
     'total': None,
     'monthlies': '0',
     'open_gate': None,
     'transients': '0'},
    'zone_name': '',
    'parent_zone_id': '0'},
   {'spots': '0',
    'zone_id': '0',
    'occupancy': {'loop': '0',
     'total': None,
     'monthlies': '0',
     'open_gate': None,
     'transients': '0'},
    'zone_name': '',
    'parent_zone_id': '0'},
   {'spots': '0',
    'zone_id': '0',
    'occupancy': {'loop': '0',
     'total': None,
     'monthlies': '0',
     'open_gate': None,
     'transients': '0'},
    'zone_name': '',
    'parent_zone_id': '0'},
   {'spots': '0',
    'zone_id': '0',
    'occupancy': {'loop': '0',
     'total': None,
     'monthlies': '0',
     'open_gate': None,
     'transients': '0'},
    'zone_name': '',
    'parent_zone_id': '0'},
   {'spots': '0',
    'zone_id': '0',
    'occupancy': {'loop': '0',
     'total': None,
     'monthlies': '0',
     'open_gate': None,
     'transients': '0'},
    'zone_name': '',
    'parent_zone_id': '0'}],
  'ParkID': 3,
  'occupancy': {'loop': None,
   'total': '1',
   'monthlies': '0',
   'open_gate': '0',
   'transients': '1'},

In [11]:
# Saving carpark details to file
with open('./data/carpark_details.json', 'w') as f:
  json.dump(carpark_details_array, f)

# Reading as a dataframe
df_carpark_details = pd.read_json('./data/carpark_details.json')
df_carpark_details

,tsn,time,spots,zones,ParkID,occupancy,MessageDate,facility_id,facility_name,tfnsw_facility_id
0,2155384,742877319,1004,"[{'spots': '152', 'zone_id': 'CPS-CUD1', 'occu...",1,"{'loop': None, 'total': '981', 'monthlies': No...",2023-07-17T12:48:39,1,Tallawong Station Car Park,2155384CCP001
1,2101131,760455665,244,"[{'spots': '244', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '17', 'monthlies': Non...",2024-02-06T00:41:05,10,Warriewood Car Park,2101131TPR001
2,2101130,760467741,46,"[{'spots': '46', 'zone_id': '1', 'occupancy': ...",1,"{'loop': '63855', 'total': '2', 'monthlies': N...",2024-02-06T04:02:21,11,Narrabeen Car Park,2101130TPR001
3,2103108,760467287,68,"[{'spots': '68', 'zone_id': '1', 'occupancy': ...",1,"{'loop': None, 'total': '2', 'monthlies': None...",2024-02-06T03:54:47,12,Mona Vale Car Park,2103108TPR001
4,2099207,760467785,117,"[{'spots': '117', 'zone_id': '1', 'occupancy':...",1,"{'loop': '53297', 'total': '28', 'monthlies': ...",2024-02-06T04:03:05,13,Dee Why Car Park,2099207TPR001
5,211420,760468097,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '228066', 'total': '1', 'monthlies': ...",2024-02-06T04:08:17,14,West Ryde Car Park,211420TPR001
6,223210,760467948,373,"[{'spots': '373', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '18', 'monthlies': Non...",2024-02-06T04:05:48,15,Sutherland East Parade Car Park,223210TPR001
7,217933,760468094,1884,"[{'spots': '1884', 'zone_id': '1', 'occupancy'...",1,"{'loop': '809498', 'total': '177', 'monthlies'...",2024-02-06T04:08:14,16,Leppington Car Park,217933TPR001
8,217426,760467619,1429,"[{'spots': '1429', 'zone_id': '1', 'occupancy'...",1,"{'loop': '741151', 'total': '6', 'monthlies': ...",2024-02-06T04:00:19,17,Edmondson Park South Car Park,217426TPR001
9,276010,760467979,682,"[{'spots': '682', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '47', 'monthlies': Non...",2024-02-06T04:06:19,18,St Marys Car Park,276010TPR001
10,256020,760467853,68,"[{'spots': '68', 'zone_id': '1', 'occupancy': ...",1,"{'loop': '147457', 'total': '28', 'monthlies':...",2024-02-06T04:04:13,19,Campbelltown Farrow Rd North Car Park,256020TPR001
11,2155382,742877319,1374,"[{'spots': '368', 'zone_id': 'CPS-KVE1', 'occu...",1,"{'loop': None, 'total': '1363', 'monthlies': N...",2023-07-17T12:48:39,2,Kellyville Station Car Park,2155382CCP001
12,256020,760467944,118,"[{'spots': '118', 'zone_id': '1', 'occupancy':...",1,"{'loop': '177719', 'total': '14', 'monthlies':...",2024-02-06T04:05:44,20,Campbelltown Hurley Street South Car Park,25602TPR002
13,275010,760467613,230,"[{'spots': '230', 'zone_id': '1', 'occupancy':...",1,"{'loop': '74298', 'total': '1', 'monthlies': N...",2024-02-06T03:00:13,21,Penrith Combewood At-Grade Car Park,275010TPR001
14,275010,760468005,1144,"[{'spots': '1144', 'zone_id': '1', 'occupancy'...",1,"{'loop': '521112', 'total': '29', 'monthlies':...",2024-02-06T03:06:45,22,Penrith Combewood Multi-Level Car Park,275010TPR002
15,217010,760468151,910,"[{'spots': '910', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '56', 'monthlies': Non...",2024-02-06T04:09:11,23,Warwick Farm Car Park,217010TPR001
16,276220,760468001,700,"[{'spots': '700', 'zone_id': '1', 'occupancy':...",1,"{'loop': '476626', 'total': '1', 'monthlies': ...",2024-02-06T04:06:41,24,Schofields Car Park,276220TPR001
17,207720,760468004,145,"[{'spots': '145', 'zone_id': '1', 'occupancy':...",1,"{'loop': '104616', 'total': '6', 'monthlies': ...",2024-02-06T04:06:44,25,Hornsby Jersey St Car Park,207720TPR001
18,2155384,760467860,121,"[{'spots': '121', 'zone_id': '1', 'occupancy':...",1,"{'loop': '90506', 'total': '11', 'monthlies': ...",2024-02-06T04:04:20,26,Tallawong P1 Car Park,2155384TPR001
19,2155384,760467594,455,"[{'spots': '455', 'zone_id': '1', 'occupancy':...",1,"{'loop': '172649', 'total': '1', 'monthlies': ...",2024-02-06T03:59:54,27,Tallawong P2 Car Park,2155384TPR002
20,2155384,760467679,397,"[{'spots': '397', 'zone_id': '1', 'occupancy':...",1,"{'loop': '102161', 'total': '46', 'monthlies':...",2024-02-06T04:01:19,28,Tallawong P3 Car Park,2155384TPR003
21,2155382,760467735,351,"[{'spots': '351', 'zone_id': '1', 'occupancy':...",1,"{'loop': '76578', 'total': '0', 'monthlies': N...",2024-02-06T04:02:15,29,Kellyville North Car Park,2155382TPR001
22,2153478,742877319,800,"[{'spots': '800', 'zone_id': 'CPS-BLV', 'occup...",1,"{'loop': None, 'total': '314', 'monthlies': No...",2023-07-17T12:48:39,3,Bella Vista Station Car Park,2153478CCP001
23,2155382,760467809,964,"[{'spots': '964', 'zone_id': '1', 'occupancy':...",1,"{'loop': '288491', 'total': '12', 'monthlies':...",2024-02-06T04:03:29,30,Kellyville South Car Park,2155382TPR002
24,2153478,760467741,777,"[{'spots': '777', 'zone_id': '1', 'occupancy':...",1,"{'loop': '243832', 'total': '4', 'monthlies': ...",2024-02-06T04:02:21,31,Bella Vista Car Park,2153478TPR001
25,2154392,760467972,584,"[{'spots': '584', 'zone_id': '1', 'occupancy':...",1,"{'loop': '202688', 'total': '5', 'monthlies': ...",2024-02-06T04:06:12,32,Hills Showground Car Park,2154392TPR001
26,2126158,760467940,384,"[{'spots': '384', 'zone_id': '1', 'occupancy':...",1,"{'loop': '140763', 'total': '1', 'monthlies': ...",2024-02-06T04:05:40,33,Cherrybrook Car Park,2126158TPR001
27,2154392,742877319,600,"[{'spots': '600', 'zone_id': 'CPS-SHW', 'occup...",1,"{'loop': None, 'total': '532', 'monthlies': No...",2023-07-17T12:48:39,4,Hills Showground Station Car Park,2154392CCP001
28,213110,760507222,228,"[{'spots': '228', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '0', 'monthlies': '0',...",2024-02-06T04:00:22,486,Ashfield Car Park,213110TPR001
29,221710,760507359,259,"[{'spots': '259', 'zone_id': '2', 'occupancy':...",3,"{'loop': None, 'total': '1', 'monthlies': '0',...",2024-02-06T04:02:39,487,Kogarah Car Park,221710TPR001
30,214710,760507589,1613,"[{'spots': '874', 'zone_id': '4', 'occupancy':...",4,"{'loop': None, 'total': '6', 'monthlies': '0',...",2024-02-06T04:06:29,488,Seven Hills Car Park,214710TPR001
31,2093117,760507214,142,"[{'spots': '142', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '0', 'monthlies': '0',...",2024-02-06T04:00:14,489,Manly Vale Car Park,2093117TPR001
32,210020,760507328,246,"[{'spots': '246', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '2', 'monthlies': '0',...",2024-02-06T04:02:08,490,Brookvale Car Park,210020TPR001
33,2126158,742877319,400,"[{'spots': '400', 'zone_id': 'CPS-CHE', 'occup...",1,"{'loop': None, 'total': '400', 'monthlies': No...",2023-07-17T12:48:39,5,Cherrybrook Station Car Park,2126158CCP001
34,207210,760456446,213,"[{'spots': '213', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '0', 'monthlies': None...",2024-02-06T00:54:06,6,Gordon Henry St North Car Park,207210TPR001
35,253330,760468195,42,"[{'spots': '42', 'zone_id': '1', 'occupancy': ...",1,"{'loop': None, 'total': '-2', 'monthlies': Non...",2024-02-06T04:09:55,7,Kiama Car Park,253330TPR001
36,225040,760467850,1057,"[{'spots': '1057', 'zone_id': '1', 'occupancy'...",1,"{'loop': None, 'total': '135', 'monthlies': No...",2024-02-06T04:04:10,8,Gosford Car Park,225040TPR001
37,221210,760468040,934,"[{'spots': '934', 'zone_id': '1', 'occupancy':...",1,"{'loop': '321576', 'total': '62', 'monthlies':...",2024-02-06T04:07:20,9,Revesby Car Park,221210TPR001

Deleting facility ids 486-490 as they will not be used. The source of the info indicates they contain inaccurate data for the columns that will be needed.

In [12]:
# Dropping rows 28,29,30,31,32
df_carpark_details.drop(index=[28,29,30,31,32],inplace=True)

# Resetting the index
df_carpark_details.reset_index(drop=True,inplace=True)

# Sorting by facility_id
df_carpark_details.sort_values(by='facility_id',inplace=True)
df_carpark_details

,tsn,time,spots,zones,ParkID,occupancy,MessageDate,facility_id,facility_name,tfnsw_facility_id
0,2155384,742877319,1004,"[{'spots': '152', 'zone_id': 'CPS-CUD1', 'occu...",1,"{'loop': None, 'total': '981', 'monthlies': No...",2023-07-17T12:48:39,1,Tallawong Station Car Park,2155384CCP001
11,2155382,742877319,1374,"[{'spots': '368', 'zone_id': 'CPS-KVE1', 'occu...",1,"{'loop': None, 'total': '1363', 'monthlies': N...",2023-07-17T12:48:39,2,Kellyville Station Car Park,2155382CCP001
22,2153478,742877319,800,"[{'spots': '800', 'zone_id': 'CPS-BLV', 'occup...",1,"{'loop': None, 'total': '314', 'monthlies': No...",2023-07-17T12:48:39,3,Bella Vista Station Car Park,2153478CCP001
27,2154392,742877319,600,"[{'spots': '600', 'zone_id': 'CPS-SHW', 'occup...",1,"{'loop': None, 'total': '532', 'monthlies': No...",2023-07-17T12:48:39,4,Hills Showground Station Car Park,2154392CCP001
28,2126158,742877319,400,"[{'spots': '400', 'zone_id': 'CPS-CHE', 'occup...",1,"{'loop': None, 'total': '400', 'monthlies': No...",2023-07-17T12:48:39,5,Cherrybrook Station Car Park,2126158CCP001
29,207210,760456446,213,"[{'spots': '213', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '0', 'monthlies': None...",2024-02-06T00:54:06,6,Gordon Henry St North Car Park,207210TPR001
30,253330,760468195,42,"[{'spots': '42', 'zone_id': '1', 'occupancy': ...",1,"{'loop': None, 'total': '-2', 'monthlies': Non...",2024-02-06T04:09:55,7,Kiama Car Park,253330TPR001
31,225040,760467850,1057,"[{'spots': '1057', 'zone_id': '1', 'occupancy'...",1,"{'loop': None, 'total': '135', 'monthlies': No...",2024-02-06T04:04:10,8,Gosford Car Park,225040TPR001
32,221210,760468040,934,"[{'spots': '934', 'zone_id': '1', 'occupancy':...",1,"{'loop': '321576', 'total': '62', 'monthlies':...",2024-02-06T04:07:20,9,Revesby Car Park,221210TPR001
1,2101131,760455665,244,"[{'spots': '244', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '17', 'monthlies': Non...",2024-02-06T00:41:05,10,Warriewood Car Park,2101131TPR001
2,2101130,760467741,46,"[{'spots': '46', 'zone_id': '1', 'occupancy': ...",1,"{'loop': '63855', 'total': '2', 'monthlies': N...",2024-02-06T04:02:21,11,Narrabeen Car Park,2101130TPR001
3,2103108,760467287,68,"[{'spots': '68', 'zone_id': '1', 'occupancy': ...",1,"{'loop': None, 'total': '2', 'monthlies': None...",2024-02-06T03:54:47,12,Mona Vale Car Park,2103108TPR001
4,2099207,760467785,117,"[{'spots': '117', 'zone_id': '1', 'occupancy':...",1,"{'loop': '53297', 'total': '28', 'monthlies': ...",2024-02-06T04:03:05,13,Dee Why Car Park,2099207TPR001
5,211420,760468097,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '228066', 'total': '1', 'monthlies': ...",2024-02-06T04:08:17,14,West Ryde Car Park,211420TPR001
6,223210,760467948,373,"[{'spots': '373', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '18', 'monthlies': Non...",2024-02-06T04:05:48,15,Sutherland East Parade Car Park,223210TPR001
7,217933,760468094,1884,"[{'spots': '1884', 'zone_id': '1', 'occupancy'...",1,"{'loop': '809498', 'total': '177', 'monthlies'...",2024-02-06T04:08:14,16,Leppington Car Park,217933TPR001
8,217426,760467619,1429,"[{'spots': '1429', 'zone_id': '1', 'occupancy'...",1,"{'loop': '741151', 'total': '6', 'monthlies': ...",2024-02-06T04:00:19,17,Edmondson Park South Car Park,217426TPR001
9,276010,760467979,682,"[{'spots': '682', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '47', 'monthlies': Non...",2024-02-06T04:06:19,18,St Marys Car Park,276010TPR001
10,256020,760467853,68,"[{'spots': '68', 'zone_id': '1', 'occupancy': ...",1,"{'loop': '147457', 'total': '28', 'monthlies':...",2024-02-06T04:04:13,19,Campbelltown Farrow Rd North Car Park,256020TPR001
12,256020,760467944,118,"[{'spots': '118', 'zone_id': '1', 'occupancy':...",1,"{'loop': '177719', 'total': '14', 'monthlies':...",2024-02-06T04:05:44,20,Campbelltown Hurley Street South Car Park,25602TPR002
13,275010,760467613,230,"[{'spots': '230', 'zone_id': '1', 'occupancy':...",1,"{'loop': '74298', 'total': '1', 'monthlies': N...",2024-02-06T03:00:13,21,Penrith Combewood At-Grade Car Park,275010TPR001
14,275010,760468005,1144,"[{'spots': '1144', 'zone_id': '1', 'occupancy'...",1,"{'loop': '521112', 'total': '29', 'monthlies':...",2024-02-06T03:06:45,22,Penrith Combewood Multi-Level Car Park,275010TPR002
15,217010,760468151,910,"[{'spots': '910', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '56', 'monthlies': Non...",2024-02-06T04:09:11,23,Warwick Farm Car Park,217010TPR001
16,276220,760468001,700,"[{'spots': '700', 'zone_id': '1', 'occupancy':...",1,"{'loop': '476626', 'total': '1', 'monthlies': ...",2024-02-06T04:06:41,24,Schofields Car Park,276220TPR001
17,207720,760468004,145,"[{'spots': '145', 'zone_id': '1', 'occupancy':...",1,"{'loop': '104616', 'total': '6', 'monthlies': ...",2024-02-06T04:06:44,25,Hornsby Jersey St Car Park,207720TPR001
18,2155384,760467860,121,"[{'spots': '121', 'zone_id': '1', 'occupancy':...",1,"{'loop': '90506', 'total': '11', 'monthlies': ...",2024-02-06T04:04:20,26,Tallawong P1 Car Park,2155384TPR001
19,2155384,760467594,455,"[{'spots': '455', 'zone_id': '1', 'occupancy':...",1,"{'loop': '172649', 'total': '1', 'monthlies': ...",2024-02-06T03:59:54,27,Tallawong P2 Car Park,2155384TPR002
20,2155384,760467679,397,"[{'spots': '397', 'zone_id': '1', 'occupancy':...",1,"{'loop': '102161', 'total': '46', 'monthlies':...",2024-02-06T04:01:19,28,Tallawong P3 Car Park,2155384TPR003
21,2155382,760467735,351,"[{'spots': '351', 'zone_id': '1', 'occupancy':...",1,"{'loop': '76578', 'total': '0', 'monthlies': N...",2024-02-06T04:02:15,29,Kellyville North Car Park,2155382TPR001
23,2155382,760467809,964,"[{'spots': '964', 'zone_id': '1', 'occupancy':...",1,"{'loop': '288491', 'total': '12', 'monthlies':...",2024-02-06T04:03:29,30,Kellyville South Car Park,2155382TPR002
24,2153478,760467741,777,"[{'spots': '777', 'zone_id': '1', 'occupancy':...",1,"{'loop': '243832', 'total': '4', 'monthlies': ...",2024-02-06T04:02:21,31,Bella Vista Car Park,2153478TPR001
25,2154392,760467972,584,"[{'spots': '584', 'zone_id': '1', 'occupancy':...",1,"{'loop': '202688', 'total': '5', 'monthlies': ...",2024-02-06T04:06:12,32,Hills Showground Car Park,2154392TPR001
26,2126158,760467940,384,"[{'spots': '384', 'zone_id': '1', 'occupancy':...",1,"{'loop': '140763', 'total': '1', 'monthlies': ...",2024-02-06T04:05:40,33,Cherrybrook Car Park,2126158TPR001

Attempting to create a date_time function that gives the dates of all days in an array from 31st December 2023 to a target date that is separated by a time delta

In [13]:
def date_getter(td):
  # Array that stores the dates to be searched for
  date_period_array = []
  
  # The last date to be searched for
  cutoff_date = datetime(2023,12,31)
  target_date = cutoff_date - td
  
  # Ensure that records of each day are obtained
  delta = timedelta(days=1)
  
  while target_date <= cutoff_date:
    date_period_array.append(target_date.strftime("%Y-%m-%d"))
    target_date += delta

  return date_period_array

In [14]:
import os

def carpark_history_period(facility, dates_array):
    data_array = []
    json_file_path = f"./data/carpark history/facility_{facility}.json"
    
    # Request header
    headers = {
        "Authorization":f"apikey {os.environ.get('apikey')}"
    }
    
    # Deleting file if it exists
    if os.path.exists(json_file_path):
        os.remove(json_file_path)
    
    # Make a request for each date
    for date in dates_array:
        url = f'https://api.transport.nsw.gov.au/v1/carpark/history?facility={facility}&eventdate={date}'
    
        response = requests.get(url, headers=headers).json()
    
        if data_array == []:
            data_array = response
        else:
            data_array = data_array + response
    
    # Saving data to json file
    with open(json_file_path, 'w') as f:
        json.dump(data_array, f)

    # Reading json file
    with open(json_file_path) as f:
        data = json.load(f)
    
    # Converting read data into a pandas dataframe
    return pd.DataFrame(data)

In [19]:
for key,row in df_carparks.iterrows():
  # Get the facility id
  facility = row['facility_id']
  
  # Save file with carpark history for a month
  carpark_history_period(facility=facility, dates_array=date_getter(td=timedelta(days=30)))
  
  # Feedback once done
  print(f"Created file for facility {facility}")

# df.head()

FileNotFoundError: [Errno 2] No such file or directory: './data/carpark history/facility_1.json'

In [16]:
# df.info()

In [20]:
# df_carparks

In [22]:
park_details = pd.read_json("data/carpark_details.json")
park_details.head(5)

,tsn,time,spots,zones,ParkID,occupancy,MessageDate,facility_id,facility_name,tfnsw_facility_id
0,2155384,742877319,1004,"[{'spots': '152', 'zone_id': 'CPS-CUD1', 'occu...",1,"{'loop': None, 'total': '981', 'monthlies': No...",2023-07-17T12:48:39,1,Tallawong Station Car Park,2155384CCP001
1,2101131,760455665,244,"[{'spots': '244', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '17', 'monthlies': Non...",2024-02-06T00:41:05,10,Warriewood Car Park,2101131TPR001
2,2101130,760467741,46,"[{'spots': '46', 'zone_id': '1', 'occupancy': ...",1,"{'loop': '63855', 'total': '2', 'monthlies': N...",2024-02-06T04:02:21,11,Narrabeen Car Park,2101130TPR001
3,2103108,760467287,68,"[{'spots': '68', 'zone_id': '1', 'occupancy': ...",1,"{'loop': None, 'total': '2', 'monthlies': None...",2024-02-06T03:54:47,12,Mona Vale Car Park,2103108TPR001
4,2099207,760467785,117,"[{'spots': '117', 'zone_id': '1', 'occupancy':...",1,"{'loop': '53297', 'total': '28', 'monthlies': ...",2024-02-06T04:03:05,13,Dee Why Car Park,2099207TPR001

In [25]:
park_history = pd.read_json("data/carpark_history_facility_14.json")
park_history.head()

,tsn,time,spots,zones,ParkID,occupancy,MessageDate,facility_id,facility_name,tfnsw_facility_id
0,211420,757083975,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '215031', 'total': '0', 'monthlies': ...",2023-12-29T00:06:15,14,West Ryde Car Park,211420TPR001
1,211420,757084211,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '215032', 'total': '1', 'monthlies': ...",2023-12-29T00:10:11,14,West Ryde Car Park,211420TPR001
2,211420,757084439,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '215033', 'total': '0', 'monthlies': ...",2023-12-29T00:13:59,14,West Ryde Car Park,211420TPR001
3,211420,757085039,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '215033', 'total': '0', 'monthlies': ...",2023-12-29T00:23:59,14,West Ryde Car Park,211420TPR001
4,211420,757085641,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '215033', 'total': '0', 'monthlies': ...",2023-12-29T00:34:01,14,West Ryde Car Park,211420TPR001

In [26]:
carparks = pd.read_json("data/carparks.json")
carparks

ValueError: If using all scalar values, you must pass an index