In [30]:
import requests
import json
import pandas as pd
import numpy as np

from datetime import datetime,timedelta

In [31]:
import dotenv
import os

# Load secret file
dotenv.load_dotenv('.env')

headers = {
  "Authorization":f"apikey {os.environ.get('apikey')}"
}
url_carparks = 'https://api.transport.nsw.gov.au/v1/carpark'
# url_carpark_history = 'https://api.transport.nsw.gov.au/v1/carpark/history'

list_of_carparks = requests.get(url_carparks, headers=headers).json()

# Create a json file and write the data if it doesn't exist
if not os.path.exists('./data/carparks.json'):
  with open('./data/carparks.json', 'w') as f:
    json.dumps(list_of_carparks, f)

# The format of the file itself is a dictionary, thus requiring some creativity to read
with open('./data/carparks.json') as f:
  data = json.load(f)

# Convert the dictionary to a dataframe
df_carparks = pd.DataFrame.from_dict(data, orient='index')
# Resetting the index to label the columns afterwards
df_carparks = df_carparks.reset_index()
df_carparks.columns = ['facility_id', 'CarParkName']

df_carparks

carpark_details_array=[]
for index, row in df_carparks.iterrows():
  facility = row['facility_id']
  url = f'https://api.transport.nsw.gov.au/v1/carpark?facility={facility}'


  # Make request
  response = requests.get(url, headers=headers).json()

  # Add to array
  carpark_details_array.append(response)

carpark_details_array

[{'tsn': '2155384',
  'time': '742877319',
  'spots': '1004',
  'zones': [{'spots': '152',
    'zone_id': 'CPS-CUD1',
    'occupancy': {'loop': None,
     'total': '150',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Tallawong Station At-Grade A Car Park',
    'parent_zone_id': '0'},
   {'spots': '455',
    'zone_id': 'CPS-CUD2',
    'occupancy': {'loop': None,
     'total': '455',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Tallawong Station At-Grade B Car Park',
    'parent_zone_id': '0'},
   {'spots': '397',
    'zone_id': 'CPS-CUD3',
    'occupancy': {'loop': None,
     'total': '376',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Tallawong Station At-Grade D Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '981',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2023-07-17T12:48:39',
  'facility_id': '1',
  'facility_name': 'Tallawong Station Car Park',
  'tfnsw_facility_id': '2155384CCP001'},
 {'tsn': '2101131',
  'time': '760479203',
  'spots': '244',
  'zones': [{'spots': '244',
    'zone_id': '1',
    'occupancy': {'loop': None,
     'total': '89',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Warriewood Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '89',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:13:23',
  'facility_id': '10',
  'facility_name': 'Warriewood Car Park',
  'tfnsw_facility_id': '2101131TPR001'},
 {'tsn': '2101130',
  'time': '760479132',
  'spots': '46',
  'zones': [{'spots': '46',
    'zone_id': '1',
    'occupancy': {'loop': '63880',
     'total': '25',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD312 Narrabeen Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '63880',
   'total': '25',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:12:12',
  'facility_id': '11',
  'facility_name': 'Narrabeen Car Park',
  'tfnsw_facility_id': '2101130TPR001'},
 {'tsn': '2103108',
  'time': '760479157',
  'spots': '68',
  'zones': [{'spots': '68',
    'zone_id': '1',
    'occupancy': {'loop': None,
     'total': '46',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Mona Vale Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '46',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:12:37',
  'facility_id': '12',
  'facility_name': 'Mona Vale Car Park',
  'tfnsw_facility_id': '2103108TPR001'},
 {'tsn': '2099207',
  'time': '760479185',
  'spots': '117',
  'zones': [{'spots': '117',
    'zone_id': '1',
    'occupancy': {'loop': '53325',
     'total': '54',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD309 Dee Why Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '53325',
   'total': '54',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:13:05',
  'facility_id': '13',
  'facility_name': 'Dee Why Car Park',
  'tfnsw_facility_id': '2099207TPR001'},
 {'tsn': '211420',
  'time': '760479193',
  'spots': '151',
  'zones': [{'spots': '151',
    'zone_id': '1',
    'occupancy': {'loop': '228166',
     'total': '101',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD372 West Ryde Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '228166',
   'total': '101',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:13:13',
  'facility_id': '14',
  'facility_name': 'West Ryde Car Park',
  'tfnsw_facility_id': '211420TPR001'},
 {'tsn': '223210',
  'time': '760479214',
  'spots': '373',
  'zones': [{'spots': '373',
    'zone_id': '1',
    'occupancy': {'loop': None,
     'total': '328',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Sutherland East Parade Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '328',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:13:34',
  'facility_id': '15',
  'facility_name': 'Sutherland East Parade Car Park',
  'tfnsw_facility_id': '223210TPR001'},
 {'tsn': '217933',
  'time': '760479210',
  'spots': '1884',
  'zones': [{'spots': '1884',
    'zone_id': '1',
    'occupancy': {'loop': '810073',
     'total': '734',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD373 Leppington Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '810073',
   'total': '734',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:13:30',
  'facility_id': '16',
  'facility_name': 'Leppington Car Park',
  'tfnsw_facility_id': '217933TPR001'},
 {'tsn': '217426',
  'time': '760479204',
  'spots': '1429',
  'zones': [{'spots': '1429',
    'zone_id': '1',
    'occupancy': {'loop': '741467',
     'total': '316',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD375 Edmondson Park Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '741467',
   'total': '316',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:13:24',
  'facility_id': '17',
  'facility_name': 'Edmondson Park South Car Park',
  'tfnsw_facility_id': '217426TPR001'},
 {'tsn': '276010',
  'time': '760479221',
  'spots': '682',
  'zones': [{'spots': '682',
    'zone_id': '1',
    'occupancy': {'loop': None,
     'total': '289',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'St Marys Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '289',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:13:41',
  'facility_id': '18',
  'facility_name': 'St Marys Car Park',
  'tfnsw_facility_id': '276010TPR001'},
 {'tsn': '256020',
  'time': '760479217',
  'spots': '68',
  'zones': [{'spots': '68',
    'zone_id': '1',
    'occupancy': {'loop': '147544',
     'total': '68',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD368D FRN Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '147544',
   'total': '68',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:13:37',
  'facility_id': '19',
  'facility_name': 'Campbelltown Farrow Rd North Car Park',
  'tfnsw_facility_id': '256020TPR001'},
 {'tsn': '2155382',
  'time': '742877319',
  'spots': '1374',
  'zones': [{'spots': '368',
    'zone_id': 'CPS-KVE1',
    'occupancy': {'loop': None,
     'total': '357',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Kellyville Station Northern At-Grade Car Park',
    'parent_zone_id': '0'},
   {'spots': '1006',
    'zone_id': 'CPS-KVE2',
    'occupancy': {'loop': None,
     'total': '1006',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Kellyville Station Southern Multi-Level Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '1363',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2023-07-17T12:48:39',
  'facility_id': '2',
  'facility_name': 'Kellyville Station Car Park',
  'tfnsw_facility_id': '2155382CCP001'},
 {'tsn': '256020',
  'time': '760479199',
  'spots': '118',
  'zones': [{'spots': '118',
    'zone_id': '1',
    'occupancy': {'loop': '177843',
     'total': '118',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD368C HSS Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '177843',
   'total': '118',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:13:19',
  'facility_id': '20',
  'facility_name': 'Campbelltown Hurley Street South Car Park',
  'tfnsw_facility_id': '25602TPR002'},
 {'tsn': '275010',
  'time': '760479183',
  'spots': '230',
  'zones': [{'spots': '230',
    'zone_id': '1',
    'occupancy': {'loop': '74316',
     'total': '17',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD369A Penrith AG Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '74316',
   'total': '17',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T06:13:03',
  'facility_id': '21',
  'facility_name': 'Penrith Combewood At-Grade Car Park',
  'tfnsw_facility_id': '275010TPR001'},
 {'tsn': '275010',
  'time': '760479207',
  'spots': '1144',
  'zones': [{'spots': '1144',
    'zone_id': '1',
    'occupancy': {'loop': '521539',
     'total': '446',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD369B Penrith MSC Park&Ride',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '521539',
   'total': '446',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T06:13:27',
  'facility_id': '22',
  'facility_name': 'Penrith Combewood Multi-Level Car Park',
  'tfnsw_facility_id': '275010TPR002'},
 {'tsn': '217010',
  'time': '760479226',
  'spots': '910',
  'zones': [{'spots': '910',
    'zone_id': '1',
    'occupancy': {'loop': None,
     'total': '296',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Warwick Farm Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '296',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:13:46',
  'facility_id': '23',
  'facility_name': 'Warwick Farm Car Park',
  'tfnsw_facility_id': '217010TPR001'},
 {'tsn': '276220',
  'time': '760479213',
  'spots': '700',
  'zones': [{'spots': '700',
    'zone_id': '1',
    'occupancy': {'loop': '476945',
     'total': '242',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD383 Schofields Commuter Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '476945',
   'total': '242',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:13:33',
  'facility_id': '24',
  'facility_name': 'Schofields Car Park',
  'tfnsw_facility_id': '276220TPR001'},
 {'tsn': '207720',
  'time': '760479233',
  'spots': '145',
  'zones': [{'spots': '145',
    'zone_id': '1',
    'occupancy': {'loop': '104698',
     'total': '74',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD386 Hornsby Commuter Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '104698',
   'total': '74',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:13:53',
  'facility_id': '25',
  'facility_name': 'Hornsby Jersey St Car Park',
  'tfnsw_facility_id': '207720TPR001'},
 {'tsn': '2155384',
  'time': '760478972',
  'spots': '121',
  'zones': [{'spots': '121',
    'zone_id': '1',
    'occupancy': {'loop': '90641',
     'total': '121',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD396A Tallawong P1 Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '90641',
   'total': '121',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:09:32',
  'facility_id': '26',
  'facility_name': 'Tallawong P1 Car Park',
  'tfnsw_facility_id': '2155384TPR001'},
 {'tsn': '2155384',
  'time': '760479233',
  'spots': '455',
  'zones': [{'spots': '455',
    'zone_id': '1',
    'occupancy': {'loop': '173101',
     'total': '453',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD396B Tallawong P2 Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '173101',
   'total': '453',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:13:53',
  'facility_id': '27',
  'facility_name': 'Tallawong P2 Car Park',
  'tfnsw_facility_id': '2155384TPR002'},
 {'tsn': '2155384',
  'time': '760479237',
  'spots': '397',
  'zones': [{'spots': '397',
    'zone_id': '1',
    'occupancy': {'loop': '102272',
     'total': '157',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD396C Tallawong P3 Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '102272',
   'total': '157',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:13:57',
  'facility_id': '28',
  'facility_name': 'Tallawong P3 Car Park',
  'tfnsw_facility_id': '2155384TPR003'},
 {'tsn': '2155382',
  'time': '760479091',
  'spots': '351',
  'zones': [{'spots': '351',
    'zone_id': '1',
    'occupancy': {'loop': '76627',
     'total': '47',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD395A Kellyville North Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '76627',
   'total': '47',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:11:31',
  'facility_id': '29',
  'facility_name': 'Kellyville North Car Park',
  'tfnsw_facility_id': '2155382TPR001'},
 {'tsn': '2153478',
  'time': '742877319',
  'spots': '800',
  'zones': [{'spots': '800',
    'zone_id': 'CPS-BLV',
    'occupancy': {'loop': None,
     'total': '314',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Bella Vista Station Multi-Level Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '314',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2023-07-17T12:48:39',
  'facility_id': '3',
  'facility_name': 'Bella Vista Station Car Park',
  'tfnsw_facility_id': '2153478CCP001'},
 {'tsn': '2155382',
  'time': '760479250',
  'spots': '964',
  'zones': [{'spots': '964',
    'zone_id': '1',
    'occupancy': {'loop': '289011',
     'total': '524',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD395B Kellyville South Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '289011',
   'total': '524',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:14:10',
  'facility_id': '30',
  'facility_name': 'Kellyville South Car Park',
  'tfnsw_facility_id': '2155382TPR002'},
 {'tsn': '2153478',
  'time': '760479220',
  'spots': '777',
  'zones': [{'spots': '777',
    'zone_id': '1',
    'occupancy': {'loop': '244104',
     'total': '264',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD392 Bella Vista Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '244104',
   'total': '264',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:13:40',
  'facility_id': '31',
  'facility_name': 'Bella Vista Car Park',
  'tfnsw_facility_id': '2153478TPR001'},
 {'tsn': '2154392',
  'time': '760479247',
  'spots': '584',
  'zones': [{'spots': '584',
    'zone_id': '1',
    'occupancy': {'loop': '203086',
     'total': '393',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD394 Hills Showground Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '203086',
   'total': '393',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:14:07',
  'facility_id': '32',
  'facility_name': 'Hills Showground Car Park',
  'tfnsw_facility_id': '2154392TPR001'},
 {'tsn': '2126158',
  'time': '760479257',
  'spots': '384',
  'zones': [{'spots': '384',
    'zone_id': '1',
    'occupancy': {'loop': '141168',
     'total': '384',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'SYD393 Cherrybrook Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': '141168',
   'total': '384',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2024-02-06T07:14:17',
  'facility_id': '33',
  'facility_name': 'Cherrybrook Car Park',
  'tfnsw_facility_id': '2126158TPR001'},
 {'tsn': '2154392',
  'time': '742877319',
  'spots': '600',
  'zones': [{'spots': '600',
    'zone_id': 'CPS-SHW',
    'occupancy': {'loop': None,
     'total': '532',
     'monthlies': None,
     'open_gate': None,
     'transients': None},
    'zone_name': 'Hills Showground Station Multi-Level Car Park',
    'parent_zone_id': '0'}],
  'ParkID': '1',
  'occupancy': {'loop': None,
   'total': '532',
   'monthlies': None,
   'open_gate': None,
   'transients': None},
  'MessageDate': '2023-07-17T12:48:39',
  'facility_id': '4',
  'facility_name': 'Hills Showground Station Car Park',
  'tfnsw_facility_id': '2154392CCP001'},
 {'tsn': '213110',
  'time': '760518855',
  'spots': '228',
  'zones': [{'spots': '228',
    'zone_id': '1',
    'occupancy': {'loop': '309816',
     'total': None,
     'monthlies': '0',
     'open_gate': None,
     'transients': '200'},
    'zone_name': 'AshfieldCarPark',
    'parent_zone_id': '0'}],
  'ParkID': 1,
  'occupancy': {'loop': None,
   'total': '200',
   'monthlies': '0',
   'open_gate': '0',
   'transients': '200'},
  'MessageDate': '2024-02-06T07:14:15',
  'facility_id': '486',
  'facility_name': 'Ashfield Car Park',
  'tfnsw_facility_id': '213110TPR001'},
 {'tsn': '221710',
  'time': '760518863',
  'spots': '259',
  'zones': [{'spots': '259',
    'zone_id': '2',
    'occupancy': {'loop': '186',
     'total': None,
     'monthlies': '0',
     'open_gate': None,
     'transients': '201'},
    'zone_name': 'SYD319 Kogarah Park and Ride',
    'parent_zone_id': '0'},
   {'spots': '0',
    'zone_id': '0',
    'occupancy': {'loop': '0',
     'total': None,
     'monthlies': '0',
     'open_gate': None,
     'transients': '0'},
    'zone_name': '',
    'parent_zone_id': '0'},
   {'spots': '0',
    'zone_id': '0',
    'occupancy': {'loop': '0',
     'total': None,
     'monthlies': '0',
     'open_gate': None,
     'transients': '0'},
    'zone_name': '',
    'parent_zone_id': '0'},
   {'spots': '0',
    'zone_id': '0',
    'occupancy': {'loop': '0',
     'total': None,
     'monthlies': '0',
     'open_gate': None,
     'transients': '0'},
    'zone_name': '',
    'parent_zone_id': '0'},
   {'spots': '0',
    'zone_id': '0',
    'occupancy': {'loop': '0',
     'total': None,
     'monthlies': '0',
     'open_gate': None,
     'transients': '0'},
    'zone_name': '',
    'parent_zone_id': '0'},
   {'spots': '0',
    'zone_id': '0',
    'occupancy': {'loop': '0',
     'total': None,
     'monthlies': '0',
     'open_gate': None,
     'transients': '0'},
    'zone_name': '',
    'parent_zone_id': '0'},
   {'spots': '0',
    'zone_id': '0',
    'occupancy': {'loop': '0',
     'total': None,
     'monthlies': '0',
     'open_gate': None,
     'transients': '0'},
    'zone_name': '',
    'parent_zone_id': '0'}],
  'ParkID': 3,
  'occupancy': {'loop': None,
   'total': '201',

In [32]:
# Saving carpark details to file
with open('./data/carpark_details.json', 'w') as f:
  json.dump(carpark_details_array, f)

# Reading as a dataframe
df_carpark_details = pd.read_json('./data/carpark_details.json')
df_carpark_details

,tsn,time,spots,zones,ParkID,occupancy,MessageDate,facility_id,facility_name,tfnsw_facility_id
0,2155384,742877319,1004,"[{'spots': '152', 'zone_id': 'CPS-CUD1', 'occu...",1,"{'loop': None, 'total': '981', 'monthlies': No...",2023-07-17T12:48:39,1,Tallawong Station Car Park,2155384CCP001
1,2101131,760479203,244,"[{'spots': '244', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '89', 'monthlies': Non...",2024-02-06T07:13:23,10,Warriewood Car Park,2101131TPR001
2,2101130,760479132,46,"[{'spots': '46', 'zone_id': '1', 'occupancy': ...",1,"{'loop': '63880', 'total': '25', 'monthlies': ...",2024-02-06T07:12:12,11,Narrabeen Car Park,2101130TPR001
3,2103108,760479157,68,"[{'spots': '68', 'zone_id': '1', 'occupancy': ...",1,"{'loop': None, 'total': '46', 'monthlies': Non...",2024-02-06T07:12:37,12,Mona Vale Car Park,2103108TPR001
4,2099207,760479185,117,"[{'spots': '117', 'zone_id': '1', 'occupancy':...",1,"{'loop': '53325', 'total': '54', 'monthlies': ...",2024-02-06T07:13:05,13,Dee Why Car Park,2099207TPR001
5,211420,760479193,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '228166', 'total': '101', 'monthlies'...",2024-02-06T07:13:13,14,West Ryde Car Park,211420TPR001
6,223210,760479214,373,"[{'spots': '373', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '328', 'monthlies': No...",2024-02-06T07:13:34,15,Sutherland East Parade Car Park,223210TPR001
7,217933,760479210,1884,"[{'spots': '1884', 'zone_id': '1', 'occupancy'...",1,"{'loop': '810073', 'total': '734', 'monthlies'...",2024-02-06T07:13:30,16,Leppington Car Park,217933TPR001
8,217426,760479204,1429,"[{'spots': '1429', 'zone_id': '1', 'occupancy'...",1,"{'loop': '741467', 'total': '316', 'monthlies'...",2024-02-06T07:13:24,17,Edmondson Park South Car Park,217426TPR001
9,276010,760479221,682,"[{'spots': '682', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '289', 'monthlies': No...",2024-02-06T07:13:41,18,St Marys Car Park,276010TPR001
10,256020,760479217,68,"[{'spots': '68', 'zone_id': '1', 'occupancy': ...",1,"{'loop': '147544', 'total': '68', 'monthlies':...",2024-02-06T07:13:37,19,Campbelltown Farrow Rd North Car Park,256020TPR001
11,2155382,742877319,1374,"[{'spots': '368', 'zone_id': 'CPS-KVE1', 'occu...",1,"{'loop': None, 'total': '1363', 'monthlies': N...",2023-07-17T12:48:39,2,Kellyville Station Car Park,2155382CCP001
12,256020,760479199,118,"[{'spots': '118', 'zone_id': '1', 'occupancy':...",1,"{'loop': '177843', 'total': '118', 'monthlies'...",2024-02-06T07:13:19,20,Campbelltown Hurley Street South Car Park,25602TPR002
13,275010,760479183,230,"[{'spots': '230', 'zone_id': '1', 'occupancy':...",1,"{'loop': '74316', 'total': '17', 'monthlies': ...",2024-02-06T06:13:03,21,Penrith Combewood At-Grade Car Park,275010TPR001
14,275010,760479207,1144,"[{'spots': '1144', 'zone_id': '1', 'occupancy'...",1,"{'loop': '521539', 'total': '446', 'monthlies'...",2024-02-06T06:13:27,22,Penrith Combewood Multi-Level Car Park,275010TPR002
15,217010,760479226,910,"[{'spots': '910', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '296', 'monthlies': No...",2024-02-06T07:13:46,23,Warwick Farm Car Park,217010TPR001
16,276220,760479213,700,"[{'spots': '700', 'zone_id': '1', 'occupancy':...",1,"{'loop': '476945', 'total': '242', 'monthlies'...",2024-02-06T07:13:33,24,Schofields Car Park,276220TPR001
17,207720,760479233,145,"[{'spots': '145', 'zone_id': '1', 'occupancy':...",1,"{'loop': '104698', 'total': '74', 'monthlies':...",2024-02-06T07:13:53,25,Hornsby Jersey St Car Park,207720TPR001
18,2155384,760478972,121,"[{'spots': '121', 'zone_id': '1', 'occupancy':...",1,"{'loop': '90641', 'total': '121', 'monthlies':...",2024-02-06T07:09:32,26,Tallawong P1 Car Park,2155384TPR001
19,2155384,760479233,455,"[{'spots': '455', 'zone_id': '1', 'occupancy':...",1,"{'loop': '173101', 'total': '453', 'monthlies'...",2024-02-06T07:13:53,27,Tallawong P2 Car Park,2155384TPR002
20,2155384,760479237,397,"[{'spots': '397', 'zone_id': '1', 'occupancy':...",1,"{'loop': '102272', 'total': '157', 'monthlies'...",2024-02-06T07:13:57,28,Tallawong P3 Car Park,2155384TPR003
21,2155382,760479091,351,"[{'spots': '351', 'zone_id': '1', 'occupancy':...",1,"{'loop': '76627', 'total': '47', 'monthlies': ...",2024-02-06T07:11:31,29,Kellyville North Car Park,2155382TPR001
22,2153478,742877319,800,"[{'spots': '800', 'zone_id': 'CPS-BLV', 'occup...",1,"{'loop': None, 'total': '314', 'monthlies': No...",2023-07-17T12:48:39,3,Bella Vista Station Car Park,2153478CCP001
23,2155382,760479250,964,"[{'spots': '964', 'zone_id': '1', 'occupancy':...",1,"{'loop': '289011', 'total': '524', 'monthlies'...",2024-02-06T07:14:10,30,Kellyville South Car Park,2155382TPR002
24,2153478,760479220,777,"[{'spots': '777', 'zone_id': '1', 'occupancy':...",1,"{'loop': '244104', 'total': '264', 'monthlies'...",2024-02-06T07:13:40,31,Bella Vista Car Park,2153478TPR001
25,2154392,760479247,584,"[{'spots': '584', 'zone_id': '1', 'occupancy':...",1,"{'loop': '203086', 'total': '393', 'monthlies'...",2024-02-06T07:14:07,32,Hills Showground Car Park,2154392TPR001
26,2126158,760479257,384,"[{'spots': '384', 'zone_id': '1', 'occupancy':...",1,"{'loop': '141168', 'total': '384', 'monthlies'...",2024-02-06T07:14:17,33,Cherrybrook Car Park,2126158TPR001
27,2154392,742877319,600,"[{'spots': '600', 'zone_id': 'CPS-SHW', 'occup...",1,"{'loop': None, 'total': '532', 'monthlies': No...",2023-07-17T12:48:39,4,Hills Showground Station Car Park,2154392CCP001
28,213110,760518855,228,"[{'spots': '228', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '200', 'monthlies': '0...",2024-02-06T07:14:15,486,Ashfield Car Park,213110TPR001
29,221710,760518863,259,"[{'spots': '259', 'zone_id': '2', 'occupancy':...",3,"{'loop': None, 'total': '201', 'monthlies': '0...",2024-02-06T07:14:23,487,Kogarah Car Park,221710TPR001
30,214710,760518850,1613,"[{'spots': '874', 'zone_id': '4', 'occupancy':...",4,"{'loop': None, 'total': '315', 'monthlies': '0...",2024-02-06T07:14:10,488,Seven Hills Car Park,214710TPR001
31,2093117,760518843,142,"[{'spots': '142', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '95', 'monthlies': '0'...",2024-02-06T07:14:03,489,Manly Vale Car Park,2093117TPR001
32,210020,760518855,246,"[{'spots': '246', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '148', 'monthlies': '0...",2024-02-06T07:14:15,490,Brookvale Car Park,210020TPR001
33,2126158,742877319,400,"[{'spots': '400', 'zone_id': 'CPS-CHE', 'occup...",1,"{'loop': None, 'total': '400', 'monthlies': No...",2023-07-17T12:48:39,5,Cherrybrook Station Car Park,2126158CCP001
34,207210,760479269,213,"[{'spots': '213', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '138', 'monthlies': No...",2024-02-06T07:14:29,6,Gordon Henry St North Car Park,207210TPR001
35,253330,760479275,42,"[{'spots': '42', 'zone_id': '1', 'occupancy': ...",1,"{'loop': None, 'total': '-2', 'monthlies': Non...",2024-02-06T07:14:35,7,Kiama Car Park,253330TPR001
36,225040,760479268,1057,"[{'spots': '1057', 'zone_id': '1', 'occupancy'...",1,"{'loop': None, 'total': '874', 'monthlies': No...",2024-02-06T07:14:28,8,Gosford Car Park,225040TPR001
37,221210,760479258,934,"[{'spots': '934', 'zone_id': '1', 'occupancy':...",1,"{'loop': '321750', 'total': '230', 'monthlies'...",2024-02-06T07:14:18,9,Revesby Car Park,221210TPR001

Deleting facility ids 486-490 as they will not be used. The source of the info indicates they contain inaccurate data for the columns that will be needed.

In [33]:
# Dropping rows 28,29,30,31,32
df_carpark_details.drop(index=[28,29,30,31,32],inplace=True)

# Resetting the index
df_carpark_details.reset_index(drop=True,inplace=True)

# Sorting by facility_id
df_carpark_details.sort_values(by='facility_id',inplace=True)
df_carpark_details

,tsn,time,spots,zones,ParkID,occupancy,MessageDate,facility_id,facility_name,tfnsw_facility_id
0,2155384,742877319,1004,"[{'spots': '152', 'zone_id': 'CPS-CUD1', 'occu...",1,"{'loop': None, 'total': '981', 'monthlies': No...",2023-07-17T12:48:39,1,Tallawong Station Car Park,2155384CCP001
11,2155382,742877319,1374,"[{'spots': '368', 'zone_id': 'CPS-KVE1', 'occu...",1,"{'loop': None, 'total': '1363', 'monthlies': N...",2023-07-17T12:48:39,2,Kellyville Station Car Park,2155382CCP001
22,2153478,742877319,800,"[{'spots': '800', 'zone_id': 'CPS-BLV', 'occup...",1,"{'loop': None, 'total': '314', 'monthlies': No...",2023-07-17T12:48:39,3,Bella Vista Station Car Park,2153478CCP001
27,2154392,742877319,600,"[{'spots': '600', 'zone_id': 'CPS-SHW', 'occup...",1,"{'loop': None, 'total': '532', 'monthlies': No...",2023-07-17T12:48:39,4,Hills Showground Station Car Park,2154392CCP001
28,2126158,742877319,400,"[{'spots': '400', 'zone_id': 'CPS-CHE', 'occup...",1,"{'loop': None, 'total': '400', 'monthlies': No...",2023-07-17T12:48:39,5,Cherrybrook Station Car Park,2126158CCP001
29,207210,760479269,213,"[{'spots': '213', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '138', 'monthlies': No...",2024-02-06T07:14:29,6,Gordon Henry St North Car Park,207210TPR001
30,253330,760479275,42,"[{'spots': '42', 'zone_id': '1', 'occupancy': ...",1,"{'loop': None, 'total': '-2', 'monthlies': Non...",2024-02-06T07:14:35,7,Kiama Car Park,253330TPR001
31,225040,760479268,1057,"[{'spots': '1057', 'zone_id': '1', 'occupancy'...",1,"{'loop': None, 'total': '874', 'monthlies': No...",2024-02-06T07:14:28,8,Gosford Car Park,225040TPR001
32,221210,760479258,934,"[{'spots': '934', 'zone_id': '1', 'occupancy':...",1,"{'loop': '321750', 'total': '230', 'monthlies'...",2024-02-06T07:14:18,9,Revesby Car Park,221210TPR001
1,2101131,760479203,244,"[{'spots': '244', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '89', 'monthlies': Non...",2024-02-06T07:13:23,10,Warriewood Car Park,2101131TPR001
2,2101130,760479132,46,"[{'spots': '46', 'zone_id': '1', 'occupancy': ...",1,"{'loop': '63880', 'total': '25', 'monthlies': ...",2024-02-06T07:12:12,11,Narrabeen Car Park,2101130TPR001
3,2103108,760479157,68,"[{'spots': '68', 'zone_id': '1', 'occupancy': ...",1,"{'loop': None, 'total': '46', 'monthlies': Non...",2024-02-06T07:12:37,12,Mona Vale Car Park,2103108TPR001
4,2099207,760479185,117,"[{'spots': '117', 'zone_id': '1', 'occupancy':...",1,"{'loop': '53325', 'total': '54', 'monthlies': ...",2024-02-06T07:13:05,13,Dee Why Car Park,2099207TPR001
5,211420,760479193,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '228166', 'total': '101', 'monthlies'...",2024-02-06T07:13:13,14,West Ryde Car Park,211420TPR001
6,223210,760479214,373,"[{'spots': '373', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '328', 'monthlies': No...",2024-02-06T07:13:34,15,Sutherland East Parade Car Park,223210TPR001
7,217933,760479210,1884,"[{'spots': '1884', 'zone_id': '1', 'occupancy'...",1,"{'loop': '810073', 'total': '734', 'monthlies'...",2024-02-06T07:13:30,16,Leppington Car Park,217933TPR001
8,217426,760479204,1429,"[{'spots': '1429', 'zone_id': '1', 'occupancy'...",1,"{'loop': '741467', 'total': '316', 'monthlies'...",2024-02-06T07:13:24,17,Edmondson Park South Car Park,217426TPR001
9,276010,760479221,682,"[{'spots': '682', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '289', 'monthlies': No...",2024-02-06T07:13:41,18,St Marys Car Park,276010TPR001
10,256020,760479217,68,"[{'spots': '68', 'zone_id': '1', 'occupancy': ...",1,"{'loop': '147544', 'total': '68', 'monthlies':...",2024-02-06T07:13:37,19,Campbelltown Farrow Rd North Car Park,256020TPR001
12,256020,760479199,118,"[{'spots': '118', 'zone_id': '1', 'occupancy':...",1,"{'loop': '177843', 'total': '118', 'monthlies'...",2024-02-06T07:13:19,20,Campbelltown Hurley Street South Car Park,25602TPR002
13,275010,760479183,230,"[{'spots': '230', 'zone_id': '1', 'occupancy':...",1,"{'loop': '74316', 'total': '17', 'monthlies': ...",2024-02-06T06:13:03,21,Penrith Combewood At-Grade Car Park,275010TPR001
14,275010,760479207,1144,"[{'spots': '1144', 'zone_id': '1', 'occupancy'...",1,"{'loop': '521539', 'total': '446', 'monthlies'...",2024-02-06T06:13:27,22,Penrith Combewood Multi-Level Car Park,275010TPR002
15,217010,760479226,910,"[{'spots': '910', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '296', 'monthlies': No...",2024-02-06T07:13:46,23,Warwick Farm Car Park,217010TPR001
16,276220,760479213,700,"[{'spots': '700', 'zone_id': '1', 'occupancy':...",1,"{'loop': '476945', 'total': '242', 'monthlies'...",2024-02-06T07:13:33,24,Schofields Car Park,276220TPR001
17,207720,760479233,145,"[{'spots': '145', 'zone_id': '1', 'occupancy':...",1,"{'loop': '104698', 'total': '74', 'monthlies':...",2024-02-06T07:13:53,25,Hornsby Jersey St Car Park,207720TPR001
18,2155384,760478972,121,"[{'spots': '121', 'zone_id': '1', 'occupancy':...",1,"{'loop': '90641', 'total': '121', 'monthlies':...",2024-02-06T07:09:32,26,Tallawong P1 Car Park,2155384TPR001
19,2155384,760479233,455,"[{'spots': '455', 'zone_id': '1', 'occupancy':...",1,"{'loop': '173101', 'total': '453', 'monthlies'...",2024-02-06T07:13:53,27,Tallawong P2 Car Park,2155384TPR002
20,2155384,760479237,397,"[{'spots': '397', 'zone_id': '1', 'occupancy':...",1,"{'loop': '102272', 'total': '157', 'monthlies'...",2024-02-06T07:13:57,28,Tallawong P3 Car Park,2155384TPR003
21,2155382,760479091,351,"[{'spots': '351', 'zone_id': '1', 'occupancy':...",1,"{'loop': '76627', 'total': '47', 'monthlies': ...",2024-02-06T07:11:31,29,Kellyville North Car Park,2155382TPR001
23,2155382,760479250,964,"[{'spots': '964', 'zone_id': '1', 'occupancy':...",1,"{'loop': '289011', 'total': '524', 'monthlies'...",2024-02-06T07:14:10,30,Kellyville South Car Park,2155382TPR002
24,2153478,760479220,777,"[{'spots': '777', 'zone_id': '1', 'occupancy':...",1,"{'loop': '244104', 'total': '264', 'monthlies'...",2024-02-06T07:13:40,31,Bella Vista Car Park,2153478TPR001
25,2154392,760479247,584,"[{'spots': '584', 'zone_id': '1', 'occupancy':...",1,"{'loop': '203086', 'total': '393', 'monthlies'...",2024-02-06T07:14:07,32,Hills Showground Car Park,2154392TPR001
26,2126158,760479257,384,"[{'spots': '384', 'zone_id': '1', 'occupancy':...",1,"{'loop': '141168', 'total': '384', 'monthlies'...",2024-02-06T07:14:17,33,Cherrybrook Car Park,2126158TPR001

Attempting to create a date_time function that gives the dates of all days in an array from 31st December 2023 to a target date that is separated by a time delta

In [34]:
def date_getter(td):
  # Array that stores the dates to be searched for
  date_period_array = []
  
  # The last date to be searched for
  cutoff_date = datetime(2023,12,31)
  target_date = cutoff_date - td
  
  # Ensure that records of each day are obtained
  delta = timedelta(days=1)
  
  while target_date <= cutoff_date:
    date_period_array.append(target_date.strftime("%Y-%m-%d"))
    target_date += delta

  return date_period_array

In [35]:
import os

def carpark_history_period(facility, dates_array):
    data_array = []
    json_file_path = f"./data/carpark history/facility_{facility}.json"
    
    # Request header
    headers = {
        "Authorization":f"apikey {os.environ.get('apikey')}"
    }
    
    # Deleting file if it exists
    if os.path.exists(json_file_path):
        os.remove(json_file_path)
    
    # Make a request for each date
    for date in dates_array:
        url = f'https://api.transport.nsw.gov.au/v1/carpark/history?facility={facility}&eventdate={date}'
    
        response = requests.get(url, headers=headers).json()
    
        if data_array == []:
            data_array = response
        else:
            data_array = data_array + response
    
    # Saving data to json file
    with open(json_file_path, 'w') as f:
        json.dump(data_array, f)

    # Reading json file
    with open(json_file_path) as f:
        data = json.load(f)
    
    # Converting read data into a pandas dataframe
    return pd.DataFrame(data)

In [36]:
for key,row in df_carparks.iterrows():
  # Get the facility id
  facility = row['facility_id']
  
  # Save file with carpark history for a month
  carpark_history_period(facility=facility, dates_array=date_getter(td=timedelta(days=30)))
  
  # Feedback once done
  print(f"Created file for facility {facility}")

# df.head()

FileNotFoundError: [Errno 2] No such file or directory: './data/carpark history/facility_1.json'

In [ ]:
# df.info()

In [ ]:
# df_carparks

In [ ]:
park_details = pd.read_json("data/carpark_details.json")
park_details.head(5)

,tsn,time,spots,zones,ParkID,occupancy,MessageDate,facility_id,facility_name,tfnsw_facility_id
0,2155384,742877319,1004,"[{'spots': '152', 'zone_id': 'CPS-CUD1', 'occu...",1,"{'loop': None, 'total': '981', 'monthlies': No...",2023-07-17T12:48:39,1,Tallawong Station Car Park,2155384CCP001
1,2101131,760455665,244,"[{'spots': '244', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '17', 'monthlies': Non...",2024-02-06T00:41:05,10,Warriewood Car Park,2101131TPR001
2,2101130,760467741,46,"[{'spots': '46', 'zone_id': '1', 'occupancy': ...",1,"{'loop': '63855', 'total': '2', 'monthlies': N...",2024-02-06T04:02:21,11,Narrabeen Car Park,2101130TPR001
3,2103108,760467287,68,"[{'spots': '68', 'zone_id': '1', 'occupancy': ...",1,"{'loop': None, 'total': '2', 'monthlies': None...",2024-02-06T03:54:47,12,Mona Vale Car Park,2103108TPR001
4,2099207,760467785,117,"[{'spots': '117', 'zone_id': '1', 'occupancy':...",1,"{'loop': '53297', 'total': '28', 'monthlies': ...",2024-02-06T04:03:05,13,Dee Why Car Park,2099207TPR001

In [ ]:
park_history = pd.read_json("data/carpark_history_facility_14.json")
park_history.head()

,tsn,time,spots,zones,ParkID,occupancy,MessageDate,facility_id,facility_name,tfnsw_facility_id
0,211420,757083975,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '215031', 'total': '0', 'monthlies': ...",2023-12-29T00:06:15,14,West Ryde Car Park,211420TPR001
1,211420,757084211,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '215032', 'total': '1', 'monthlies': ...",2023-12-29T00:10:11,14,West Ryde Car Park,211420TPR001
2,211420,757084439,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '215033', 'total': '0', 'monthlies': ...",2023-12-29T00:13:59,14,West Ryde Car Park,211420TPR001
3,211420,757085039,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '215033', 'total': '0', 'monthlies': ...",2023-12-29T00:23:59,14,West Ryde Car Park,211420TPR001
4,211420,757085641,151,"[{'spots': '151', 'zone_id': '1', 'occupancy':...",1,"{'loop': '215033', 'total': '0', 'monthlies': ...",2023-12-29T00:34:01,14,West Ryde Car Park,211420TPR001

In [ ]:
carparks_ = pd.read_json("data/NSW response-2022-03-13.json")
carparks_

FileNotFoundError: File data/NSW response-2022-03-13.json does not exist