In [1]:
import pandas as pd
from datetime import datetime, timedelta
import json
import requests
import dotenv
import os

dotenv.load_dotenv(".env")

True

In [8]:
folder_path = './data/carpark_history_3_months'
df_combined = pd.DataFrame()

for facility_id in range(6,34):
  # Retrieve file
  file = f"{folder_path}/facility_{facility_id}.json"
  
  # Read file
  with open(file) as f:
    data = json.load(f)
    df = pd.DataFrame(data)
    df_combined = pd.concat([df_combined, df], ignore_index=True)

df_combined.head()

,tsn,time,spots,zones,ParkID,occupancy,MessageDate,facility_id,facility_name,tfnsw_facility_id
0,207210,754664994,213,"[{'spots': '213', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '9', 'monthlies': None...",2023-12-01T00:09:54,6,Gordon Henry St North Car Park,207210TPR001
1,207210,754665748,213,"[{'spots': '213', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '8', 'monthlies': None...",2023-12-01T00:22:28,6,Gordon Henry St North Car Park,207210TPR001
2,207210,754666073,213,"[{'spots': '213', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '7', 'monthlies': None...",2023-12-01T00:27:53,6,Gordon Henry St North Car Park,207210TPR001
3,207210,754666646,213,"[{'spots': '213', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '6', 'monthlies': None...",2023-12-01T00:37:26,6,Gordon Henry St North Car Park,207210TPR001
4,207210,754667165,213,"[{'spots': '213', 'zone_id': '1', 'occupancy':...",1,"{'loop': None, 'total': '5', 'monthlies': None...",2023-12-01T00:46:05,6,Gordon Henry St North Car Park,207210TPR001

In [9]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503032 entries, 0 to 503031
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   tsn                503032 non-null  object
 1   time               503032 non-null  object
 2   spots              503032 non-null  object
 3   zones              503032 non-null  object
 4   ParkID             503032 non-null  object
 5   occupancy          503032 non-null  object
 6   MessageDate        503032 non-null  object
 7   facility_id        503032 non-null  object
 8   facility_name      503032 non-null  object
 9   tfnsw_facility_id  503032 non-null  object
dtypes: object(10)
memory usage: 38.4+ MB

In [14]:
uniques = df_combined['tfnsw_facility_id'].unique()
uniques

array(['207210TPR001', '253330TPR001', '225040TPR001', '221210TPR001',
       '2101131TPR001', '2101130TPR001', '2103108TPR001', '2099207TPR001',
       '211420TPR001', '223210TPR001', '217933TPR001', '217426TPR001',
       '276010TPR001', '256020TPR001', '25602TPR002', '275010TPR001',
       '275010TPR002', '217010TPR001', '276220TPR001', '207720TPR001',
       '2155384TPR001', '2155384TPR002', '2155384TPR003', '2155382TPR001',
       '2155382TPR002', '2153478TPR001', '2154392TPR001', '2126158TPR001'],
      dtype=object)

In [15]:
len(uniques)

28