In [23]:
import requests
import json
import pandas as pd
import numpy as np
import dotenv
import os
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, cross_validate
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, BaggingClassifier
from sklearn.metrics import accuracy_score, roc_curve, auc, ConfusionMatrixDisplay, confusion_matrix, classification_report, precision_score
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from xgboost import XGBClassifier
import statsmodels.api as sm


from datetime import datetime,timedelta

In [40]:
df = pd.read_csv('./data/no_duplicate_df.csv', index_col=0)
df

,facility_name,ParkID,zone_id,total_parking_spots,occupancy_total,day_of_week,date,time,parking_availability
0,Warriewood Car Park,1,1,244,20,Friday,2023-12-01,00:53:26,224
1,Warriewood Car Park,1,1,244,19,Friday,2023-12-01,00:55:59,225
2,Warriewood Car Park,1,1,244,18,Friday,2023-12-01,01:25:34,226
3,Warriewood Car Park,1,1,244,17,Friday,2023-12-01,01:26:37,227
4,Warriewood Car Park,1,1,244,16,Friday,2023-12-01,01:53:18,228
...,...,...,...,...,...,...,...,...,...
503027,Revesby Car Park,1,1,934,52,Sunday,2023-12-31,23:19:07,882
503028,Revesby Car Park,1,1,934,51,Sunday,2023-12-31,23:21:53,883
503029,Revesby Car Park,1,1,934,51,Sunday,2023-12-31,23:31:53,883
503030,Revesby Car Park,1,1,934,51,Sunday,2023-12-31,23:41:54,883
503031,Revesby Car Park,1,1,934,51,Sunday,2023-12-31,23:51:56,883

In [41]:
df = df.sample(frac=0.01)

df

,facility_name,ParkID,zone_id,total_parking_spots,occupancy_total,day_of_week,date,time,parking_availability
414580,Cherrybrook Car Park,1,1,384,384,Monday,2023-12-04,13:16:37,0
106542,Edmondson Park South Car Park,1,1,1429,144,Friday,2023-12-22,07:36:01,1285
341610,Kellyville South Car Park,1,1,964,310,Wednesday,2023-12-27,16:04:07,654
489537,Revesby Car Park,1,1,934,243,Wednesday,2023-12-06,18:23:49,691
68249,Leppington Car Park,1,1,1884,345,Friday,2023-12-15,06:03:39,1539
...,...,...,...,...,...,...,...,...,...
14181,Mona Vale Car Park,1,1,68,63,Friday,2023-12-08,16:57:38,5
278091,Tallawong P3 Car Park,1,1,397,120,Friday,2023-12-01,07:51:56,277
95,Warriewood Car Park,1,1,244,101,Friday,2023-12-01,08:32:57,143
218888,Schofields Car Park,1,1,700,506,Tuesday,2023-12-19,08:26:24,194
91919,Edmondson Park South Car Park,1,1,1429,95,Friday,2023-12-08,22:45:32,1334

In [42]:
df.drop(['time'], inplace=True, axis=1)
df = pd.get_dummies(df)
df = df.astype(int)
df

,ParkID,zone_id,total_parking_spots,occupancy_total,parking_availability,facility_name_Bella Vista Car Park,facility_name_Campbelltown Farrow Rd North Car Park,facility_name_Campbelltown Hurley Street South Car Park,facility_name_Cherrybrook Car Park,facility_name_Dee Why Car Park,...,date_2023-12-22,date_2023-12-23,date_2023-12-24,date_2023-12-25,date_2023-12-26,date_2023-12-27,date_2023-12-28,date_2023-12-29,date_2023-12-30,date_2023-12-31
414580,1,1,384,384,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
106542,1,1,1429,144,1285,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
341610,1,1,964,310,654,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
489537,1,1,934,243,691,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68249,1,1,1884,345,1539,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14181,1,1,68,63,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
278091,1,1,397,120,277,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95,1,1,244,101,143,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
218888,1,1,700,506,194,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
91919,1,1,1429,95,1334,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:

# Define the target column and the features

y = df.parking_availability
X = df.drop(['parking_availability'], axis = 1)

# Split the data into test and train samples, with a random state of 121 for reproducability and test size of 30%

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, random_state = 121)
X_train

,ParkID,zone_id,total_parking_spots,occupancy_total,facility_name_Bella Vista Car Park,facility_name_Campbelltown Farrow Rd North Car Park,facility_name_Campbelltown Hurley Street South Car Park,facility_name_Cherrybrook Car Park,facility_name_Dee Why Car Park,facility_name_Edmondson Park South Car Park,...,date_2023-12-22,date_2023-12-23,date_2023-12-24,date_2023-12-25,date_2023-12-26,date_2023-12-27,date_2023-12-28,date_2023-12-29,date_2023-12-30,date_2023-12-31
370065,1,1,777,404,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35838,1,1,151,13,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
292305,1,1,351,186,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
470530,1,1,1057,569,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
472429,1,1,1057,308,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318743,1,1,964,582,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94427,1,1,1429,287,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
223210,1,1,700,44,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
484146,1,1,1057,297,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
443540,1,1,213,173,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
# Your code here
iterated_model = sm.OLS(y_train, sm.add_constant(X_train))
iterated_results = iterated_model.fit()

In [47]:
print(iterated_results.summary())

                             OLS Regression Results
================================================================================
Dep. Variable:     parking_availability   R-squared:                       1.000
Model:                              OLS   Adj. R-squared:                  1.000
Method:                   Least Squares   F-statistic:                 2.120e+31
Date:                  Wed, 07 Feb 2024   Prob (F-statistic):               0.00
Time:                          22:33:21   Log-Likelihood:                 93668.
No. Observations:                  3521   AIC:                        -1.872e+05
Df Residuals:                      3462   BIC:                        -1.869e+05
Df Model:                            58
Covariance Type:              nonrobust
===========================================================================================================================
                                                              coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------------
ParkID                                                   3.862e-05   1.29e-14   2.99e+09      0.000    3.86e-05    3.86e-05
zone_id                                                  3.862e-05   1.29e-14   2.99e+09      0.000    3.86e-05    3.86e-05
total_parking_spots                                         1.0000   3.54e-17   2.82e+16      0.000       1.000       1.000
occupancy_total                                            -1.0000   6.72e-17  -1.49e+16      0.000      -1.000      -1.000
facility_name_Bella Vista Car Park                       4.334e-05   4.67e-14   9.29e+08      0.000    4.33e-05    4.33e-05
facility_name_Campbelltown Farrow Rd North Car Park     -7.287e-05   8.57e-14   -8.5e+08      0.000   -7.29e-05   -7.29e-05
facility_name_Campbelltown Hurley Street South Car Park -6.468e-05   7.42e-14  -8.72e+08      0.000   -6.47e-05   -6.47e-05
facility_name_Cherrybrook Car Park                      -2.108e-05   4.83e-14  -4.37e+08      0.000   -2.11e-05   -2.11e-05
facility_name_Dee Why Car Park                          -6.484e-05   1.16e-13  -5.57e+08      0.000   -6.48e-05   -6.48e-05
facility_name_Edmondson Park South Car Park                 0.0002   4.45e-14   3.38e+09      0.000       0.000       0.000
facility_name_Gordon Henry St North Car Park             -4.91e-05   8.76e-14  -5.61e+08      0.000   -4.91e-05   -4.91e-05
facility_name_Gosford Car Park                           8.923e-05   4.48e-14   1.99e+09      0.000    8.92e-05    8.92e-05
facility_name_Hills Showground Car Park                  1.171e-05   4.66e-14   2.51e+08      0.000    1.17e-05    1.17e-05
facility_name_Hornsby Jersey St Car Park                -6.025e-05    8.6e-14     -7e+08      0.000   -6.03e-05   -6.03e-05
facility_name_Kellyville North Car Park                 -2.649e-05   7.47e-14  -3.55e+08      0.000   -2.65e-05   -2.65e-05
facility_name_Kellyville South Car Park                  7.399e-05   4.11e-14    1.8e+09      0.000     7.4e-05     7.4e-05
facility_name_Kiama Car Park                            -7.713e-05   2.03e-13   -3.8e+08      0.000   -7.71e-05   -7.71e-05
facility_name_Leppington Car Park                           0.0002   4.48e-14   5.01e+09      0.000       0.000       0.000
facility_name_Mona Vale Car Park                        -7.287e-05   1.11e-13  -6.56e+08      0.000   -7.29e-05   -7.29e-05
facility_name_Narrabeen Car Park                        -7.648e-05   1.02e-13  -7.53e+08      0.000   -7.65e-05   -7.65e-05
facility_name_Penrith Combewood At-Grade Car Park       -4.632e-05   1.07e-13  -4.35e+08      0.000   -4.63e-05   -4.63e-05
facility_name_Penrith Combewood Multi-Level Car Park        0.0001   5.09e-14   2.03e+09      0.000       0.000       0.000
facility_name_Revesby Car Park                           6.907e-05   6.37e-14   1.08e+09      0.000    6.91e-05    6.91e-05
facility_name_Schofields Car Park                        3.072e-05   4.96e-14   6.19e+08      0.000    3.07e-05    3.07e-05
facility_name_St Marys Car Park                          2.777e-05   6.26e-14   4.43e+08      0.000    2.78e-05    2.78e-05
facility_name_Sutherland East Parade Car Park           -2.288e-05   5.87e-14   -3.9e+08      0.000   -2.29e-05   -2.29e-05
facility_name_Tallawong P1 Car Park                     -6.418e-05    6.8e-14  -9.43e+08      0.000   -6.42e-05   -6.42e-05
facility_name_Tallawong P2 Car Park                     -9.439e-06   4.98e-14  -1.89e+08      0.000   -9.44e-06   -9.44e-06
facility_name_Tallawong P3 Car Park                     -1.895e-05   6.92e-14  -2.74e+08      0.000   -1.89e-05   -1.89e-05
facility_name_Warriewood Car Park                       -4.402e-05   9.23e-14  -4.77e+08      0.000    -4.4e-05    -4.4e-05
facility_name_Warwick Farm Car Park                      6.514e-05   5.47e-14   1.19e+09      0.000    6.51e-05    6.51e-05
facility_name_West Ryde Car Park                        -5.927e-05   6.98e-14  -8.49e+08      0.000   -5.93e-05   -5.93e-05
day_of_week_Friday                                       5.646e-06   2.32e-14   2.44e+08      0.000    5.65e-06    5.65e-06
day_of_week_Monday                                        5.42e-06   3.12e-14   1.74e+08      0.000    5.42e-06    5.42e-06
day_of_week_Saturday                                     5.646e-06   2.85e-14   1.98e+08      0.000    5.65e-06    5.65e-06
day_of_week_Sunday                                       5.646e-06   2.96e-14   1.91e+08      0.000    5.65e-06    5.65e-06
day_of_week_Thursday                                      5.42e-06   2.36e-14    2.3e+08      0.000    5.42e-06    5.42e-06
day_of_week_Tuesday                                       5.42e-06   2.32e-14   2.33e+08      0.000    5.42e-06    5.42e-06
day_of_week_Wednesday                                     5.42e-06   2.27e-14   2.39e+08      0.000    5.42e-06    5.42e-06
date_2023-12-01                                          1.129e-06   5.34e-14   2.12e+07      0.000    1.13e-06    1.13e-06
date_2023-12-02                                          1.129e-06   7.06e-14    1.6e+07      0.000    1.13e-06    1.13e-06
date_2023-12-03                                          1.129e-06   8.48e-14   1.33e+07      0.000    1.13e-06    1.13e-06
date_2023-12-04                                          1.355e-06   5.54e-14   2.45e+07      0.000    1.36e-06    1.36e-06
date_2023-12-05                                          1.355e-06   4.87e-14   2.78e+07      0.000    1.36e-06    1.36e-06
date_2023-12-06                                          1.355e-06   4.72e-14   2.87e+07      0.000    1.36e-06    1.36e-06
date_2023-12-07                                          1.355e-06   4.69e-14   2.89e+07      0.000    1.36e-06    1.36e-06
date_2023-12-08                                          1.129e-06   5.03e-14   2.25e+07      0.000    1.13e-06    1.13e-06
date_2023-12-09                                          1.129e-06    7.5e-14   1.51e+07      0.000    1.13e-06    1.13e-06
date_2023-12-10                                          1.129e-06   7.35e-14   1.54e+07      0.000    1.13e-06    1.13e-06
date_2023-12-11                                          1.355e-06   5.58e-14   2.43e+07      0.000    1.36e-06    1.36e-06
date_2023-12-12                                          1.355e-06   4.63e-14   2.93e+07      0.000    1.36e-06    1.36e-06
date_2023-12-13                                          1.355e-06   4.63e-14   2.93e+07      0.000    1.36e-06    1.36e-06
date_2023-12-14                                          1.355e-06   4.74e-14   2.86e+07      0.000    1.36e-06    1.36e-06
date_2023-12-15                                          1.129e-06   5.36e-14   2.11e+07      0.000    1.13e-06    1.13e-06
date_2023-12-16                                          1.129e-06   7.41e-14   1.52e+07      0.000    1.13e-06    1.13e-06
date_2023-12-17                                          1.129e-06    7.5e-14   1.51e+07      0.000    1.13e-06    1.13e-06
date_2023-12-18                                          1.355e-06   5.83e-14   2.32e+07      0.000    1.36e-06    1.36e-06
date_2023-12-19                                          1.355e-06   4.75e-14   2.85e+07      0.000    1.36e-06    1.36e-06
date_2023-12-20                                          1.355e-06    4.9e-14   2.77e+07      0.000    1.36e-06    1.36e-06
date_2023-12-21                                          1.355e-06   5.01e-14    2.7e+07      0.000    1.36e-06    1.36e-06
date_2023-12-22                                          1.129e-06   5.91e-14   1.91e+07      0.000    1.13e-06    1.13e-06
date_2023-12-23                                          1.129e-06   6.84e-14   1.65e+07      0.000    1.13e-06    1.13e-06
date_2023-12-24                                          1.129e-06   8.06e-14    1.4e+07      0.000    1.13e-06    1.13e-06
date_2023-12-25                                          1.355e-06   1.14e-13   1.19e+07      0.000    1.36e-06    1.36e-06
date_2023-12-26                                          1.355e-06   6.62e-14   2.05e+07      0.000    1.36e-06    1.36e-06
date_2023-12-27                                          1.355e-06    6.2e-14   2.19e+07      0.000    1.36e-06    1.36e-06
date_2023-12-28                                          1.355e-06   6.91e-14   1.96e+07      0.000    1.36e-06    1.36e-06
date_2023-12-29                                          1.129e-06   7.46e-14   1.51e+07      0.000    1.13e-06    1.13e-06
date_2023-12-30                                          1.129e-06   8.16e-14   1.38e+07      0.000    1.13e-06    1.13e-06
date_2023-12-31                                          1.129e-06   6.78e-14   1.67e+07      0.000    1.13e-06    1.13e-06
==============================================================================
Omnibus:                     1044.587   Durbin-Watson:                   1.392
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5172.070
Skew:                          -1.336   Prob(JB):                         0.00
Kurtosis:                       8.302   Cond. No.                     1.19e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.04e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [50]:
from sklearn.metrics import mean_absolute_error

y_pred = iterated_results.predict(sm.add_constant(X_train))
mean_absolute_error(y_train, y_pred)

5.379312130327341e-13